$blue: #1d71ab;
$light-blue: #189eff;
$primary: #0084E0;
$secondary: #E00000;
$dark: #676767;
$info: #56C0E5;
$success: #9cd469;
$danger: #e55868;
$warning: #fccb54;
$default: #dedede;
$light: #f9fafb;
$white: #fff;
$gray: #838383;