@charset "UTF-8";
/**
 * --------
 * Responsive
 */
/*
 * Mixins
 */
.alert {
  padding: 1.2em 1.25rem 1.2em 3.5em;
  position: relative;
  /**
  * Style
  */ }
  .alert:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    width: 1em;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    animation: snake 5s 2s infinite; }
  .alert.alert-primary:before {
    content: "\f0a2"; }
  .alert.alert-success:before {
    content: "\f087"; }
  .alert.alert-info:before {
    content: "\f06a"; }
  .alert.alert-warning:before {
    content: "\f071"; }
  .alert.alert-danger:before {
    content: "\f057"; }

.bg-primary {
  color: #ffffff;
  background-color: #0084E0 !important; }

.bg-info {
  color: #ffffff;
  background-color: #56C0E5 !important; }

.bg-success {
  color: #ffffff;
  background-color: #9cd469 !important; }

.bg-warning {
  color: #755601;
  background-color: #fccb54 !important; }

.bg-danger {
  color: #ffffff;
  background-color: #e55868 !important; }

.bg-secondary {
  color: #ffffff;
  background-color: #E00000 !important; }

.border-primary {
  border-color: #0084E0 !important; }

.border-secondary {
  border-color: #E00000 !important; }

.border-success {
  border-color: #9cd469 !important; }

.border-danger {
  border-color: #e55868 !important; }

.border-warning {
  border-color: #fccb54 !important; }

.border-info {
  border-color: #56C0E5 !important; }

.border-light {
  border-color: #f9fafb !important; }

.btn {
  cursor: default;
  /**
   * Style
   */ }
  .btn.focus, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #0084E0;
    border-color: #0084E0; }
    .btn.btn-primary:hover {
      background-color: #0075c7;
      border-color: #0075c7; }
    .btn.btn-primary.active, .btn.btn-primary:active {
      background-color: #0075c7;
      border-color: #0075c7; }
  .btn.btn-secondary {
    color: #ffffff;
    background-color: #E00000;
    border-color: #E00000; }
    .btn.btn-secondary:hover {
      background-color: #c70000;
      border-color: #c70000; }
    .btn.btn-secondary.active, .btn.btn-secondary:active {
      background-color: #c70000;
      border-color: #c70000; }
  .btn.btn-info {
    color: #ffffff;
    background-color: #56C0E5;
    border-color: #56C0E5; }
    .btn.btn-info:hover {
      background-color: #2ab0de;
      border-color: #2ab0de; }
    .btn.btn-info.active, .btn.btn-info:active {
      background-color: #40b8e2;
      border-color: #40b8e2; }
  .btn.btn-success {
    color: #ffffff;
    background-color: #9cd469;
    border-color: #9cd469; }
    .btn.btn-success:hover {
      background-color: #8fce55;
      border-color: #8fce55; }
    .btn.btn-success.active, .btn.btn-success:active {
      background-color: #8fce55;
      border-color: #8fce55; }
  .btn.btn-warning {
    color: #ffffff;
    background-color: #fccb54;
    border-color: #fccb54; }
    .btn.btn-warning:hover {
      background-color: #fcc33b;
      border-color: #fcc33b; }
    .btn.btn-warning.active, .btn.btn-warning:active {
      background-color: #fcc33b;
      border-color: #fcc33b; }
  .btn.btn-danger {
    color: #ffffff;
    background-color: #e55868;
    border-color: #e55868; }
    .btn.btn-danger:hover {
      background-color: #e24254;
      border-color: #e24254; }
    .btn.btn-danger.active, .btn.btn-danger:active {
      background-color: #e24254;
      border-color: #e24254; }
  .btn.btn-light {
    color: #676767;
    background-color: #f9fafb;
    border-color: #f9fafb; }
    .btn.btn-light:hover {
      background-color: #eaedf1;
      border-color: #eaedf1; }
    .btn.btn-light.active, .btn.btn-light:active {
      background-color: #eaedf1;
      border-color: #eaedf1; }
  .btn.btn-dark {
    color: #ffffff;
    background-color: #676767;
    border-color: #676767; }
    .btn.btn-dark:hover {
      background-color: #5a5a5a;
      border-color: #5a5a5a; }
    .btn.btn-dark.active, .btn.btn-dark:active {
      background-color: #5a5a5a;
      border-color: #5a5a5a; }
  .btn.btn-white {
    color: #676767;
    background-color: #fff;
    border-color: #fff; }
    .btn.btn-white:hover {
      background-color: #f2f2f2;
      border-color: #f2f2f2; }
    .btn.btn-white.active, .btn.btn-white:active {
      background-color: #f2f2f2;
      border-color: #f2f2f2; }
  .btn.btn-gray {
    color: #fff;
    background-color: #838383;
    border-color: #838383; }
    .btn.btn-gray:hover {
      background-color: #767676;
      border-color: #767676; }
    .btn.btn-gray.active, .btn.btn-gray:active {
      background-color: #767676;
      border-color: #767676; }

button.focus, button:focus {
  outline: none; }

.card {
  margin-bottom: 1em;
  border: none;
  /**
   * Style
   */ }
  .card .card-header {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent; }
  .card .card-title {
    font-weight: 500; }
  .card.card-primary .card-header {
    color: #ffffff;
    background-color: #0084E0; }
  .card.card-info .card-header {
    color: #ffffff;
    background-color: #56C0E5; }
  .card.card-success .card-header {
    color: #ffffff;
    background-color: #9cd469; }
  .card.card-danger .card-header {
    color: #ffffff;
    background-color: #e55868; }
  .card.card-warning .card-header {
    color: #ffffff;
    background-color: #fccb54; }

.dropdown .dropdown-menu {
  padding: 0;
  border: 1px solid #dedede;
  border-radius: 0;
  overflow: hidden; }
  .dropdown .dropdown-menu .dropdown-item {
    width: -webkit-fill-available; }
    .dropdown .dropdown-menu .dropdown-item:focus {
      color: #fff;
      background-color: #0084E0; }
    .dropdown .dropdown-menu .dropdown-item:hover {
      color: #fff;
      background-color: #0084E0; }
  .dropdown .dropdown-menu.dropdown-menu-right {
    left: unset !important; }
.dropdown .dropdown-toggle:after {
  content: '\f107';
  font-family: 'FontAwesome';
  border: none;
  vertical-align: top;
  display: inline;
  margin-left: 10px; }
.dropdown.hover:hover > .dropdown-menu {
  display: block; }

.dropdown-menu {
  overflow: hidden; }

.form-group label:not(.error) {
  font-weight: 500; }
  .form-group label:not(.error) span.required {
    color: #E00000; }
.form-group .form-control {
  padding: 0.8rem 0.8rem;
  border-radius: 2px;
  border-color: #dedede;
  background-color: #fdfdfd; }
  .form-group .form-control:disabled, .form-group .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }
.form-group .input-group .input-group-addon {
  padding: 0.8rem 0.8rem;
  background-color: #fff;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  border-color: #dedede;
  color: #47b3ff;
  /**
   * Style
   */ }
  .form-group .input-group .input-group-addon:first-child {
    border-right: 0; }
  .form-group .input-group .input-group-addon:last-child {
    border-left: 0; }
  .form-group .input-group .input-group-addon.addon-primary {
    color: #fff;
    background-color: #0084E0;
    border-color: #0084E0; }
  .form-group .input-group .input-group-addon.addon-info {
    color: #fff;
    background-color: #56C0E5;
    border-color: #56C0E5; }
  .form-group .input-group .input-group-addon.addon-success {
    color: #fff;
    background-color: #9cd469;
    border-color: #9cd469; }
  .form-group .input-group .input-group-addon.addon-danger {
    color: #fff;
    background-color: #e55868;
    border-color: #e55868; }
  .form-group .input-group .input-group-addon.addon-warning {
    color: #fff;
    background-color: #fccb54;
    border-color: #fccb54; }
.form-group .input-group .input-group-btn {
  z-index: 4; }
  .form-group .input-group .input-group-btn .btn {
    padding: 0.8rem 0.8rem; }
.form-group .input-group .form-control {
  background-color: #fff;
  border-width: 1px;
  box-shadow: none;
  border-color: #dedede;
  padding-left: 1rem;
  padding-right: 1rem; }
  .form-group .input-group .form-control:first-child {
    border-right: 0; }
  .form-group .input-group .form-control:last-child {
    border-left: 0; }
  .form-group .input-group .form-control:nth-child(2):not(:last-child) {
    border-left: 0;
    border-right: 0; }
.form-group .help-block {
  color: #999999;
  display: block; }
.form-group.has-error {
  color: #E00000; }
  .form-group.has-error .help-block {
    color: #E00000;
    font-style: italic; }
  .form-group.has-error .form-control {
    border-color: #E00000; }

.error {
  color: #E00000; }

.mark {
  padding: 5px;
  line-height: 1.5;
  text-align: center;
  border-radius: 3px;
  /**
   * Style
   */ }
  .mark.mark-block {
    display: block; }
  .mark.mark-primary {
    background-color: #0084E0;
    color: #000c14; }
  .mark.mark-primary {
    background-color: #E00000;
    color: #140000; }
  .mark.mark-info {
    background-color: #56C0E5;
    color: #0f4b60; }
  .mark.mark-success {
    background-color: #9cd469;
    color: #375819; }
  .mark.mark-warning {
    background-color: #fccb54;
    color: #825d02; }
  .mark.mark-danger {
    background-color: #e55868;
    color: #620f19; }
  .mark.mark-dark {
    background-color: #676767;
    color: #010101; }
  .mark.mark-light {
    background-color: #f9fafb;
    color: #7f94a9; }
  .mark.mark-gray {
    background-color: #838383;
    color: #1d1d1d; }
  .mark.mark-white {
    background-color: #fff;
    color: #999999; }

.modal .modal-dialog .modal-content {
  overflow: hidden;
  border: none;
  box-shadow: 0 0 2px #999; }
  .modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500; }
.modal.modal-primary .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #0084E0; }
.modal.modal-info .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #56C0E5; }
.modal.modal-success .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #9cd469; }
.modal.modal-warning .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #fccb54; }
.modal.modal-danger .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #e55868; }
.modal.modal-gray .modal-dialog .modal-content .modal-header {
  color: #fff;
  background-color: #838383; }

.pagination {
  text-align: center;
  display: flex;
  justify-content: center; }
  .pagination .page-item .page-link {
    display: block;
    border-radius: 3px;
    margin: auto 2.5px;
    padding: 1rem 1.5rem;
    border: 0;
    color: #676767;
    font-weight: 600;
    background-color: transparent; }
  .pagination .page-item.active .page-link, .pagination .page-item:hover .page-link {
    background-color: #0084E0;
    border-color: #0084E0;
    color: #fff; }
  .pagination .page-item.disabled {
    display: none; }

.table {
  border-collapse: separate;
  border-radius: 2px;
  border-spacing: 0;
  /**
   * Style
   */ }
  .table .table-options {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex; }
    .table .table-options > li {
      display: inline-block;
      margin-left: 10px; }
      .table .table-options > li:first-child {
        margin-left: 0; }
      .table .table-options > li > a,
      .table .table-options > li button {
        color: #9fa8bc;
        font-size: 14px;
        line-height: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 1rem 0;
        display: inline-block;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .table .table-options > li > a > i,
        .table .table-options > li button > i {
          line-height: 0; }
  .table .custom-checkbox {
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 1rem;
    min-height: 1.2rem; }
    .table .custom-checkbox .custom-control-indicator {
      background-color: #fff;
      box-shadow: 0 0 0 1px #fff; }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 7px 8px;
    vertical-align: middle; }
  .table.table-primary {
    background-color: #7ac8ff; }
    .table.table-primary > thead > tr > th,
    .table.table-primary > tfoot > tr > th {
      border-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      background-color: #0084E0; }
  .table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #94d3ff; }

.dataTables_wrapper {
  padding-left: 0;
  padding-right: 0; }
  .dataTables_wrapper thead > tr > th,
  .dataTables_wrapper tbody > tr > td {
    border-right: 1px solid #fff; }
  .dataTables_wrapper .dt-buttons.btn-group {
    float: left;
    width: unset; }
    .dataTables_wrapper .dt-buttons.btn-group .buttons-print {
      background-color: #FCFCFC;
      border-color: #D8D8D8;
      color: #2D2D2D;
      border-radius: 0; }
      .dataTables_wrapper .dt-buttons.btn-group .buttons-print:before {
        font-family: "FontAwesome";
        content: "\f02f";
        margin-right: 5px; }
    .dataTables_wrapper .dt-buttons.btn-group .buttons-excel {
      background-color: #efefef;
      border-color: #D8D8D8;
      color: #2D2D2D; }
      .dataTables_wrapper .dt-buttons.btn-group .buttons-excel:before {
        font-family: "FontAwesome";
        content: "\f1c3";
        margin-right: 5px; }
    .dataTables_wrapper .dt-buttons.btn-group .buttons-page-length {
      background-color: #FCFCFC;
      border-color: #D8D8D8;
      color: #2D2D2D;
      border-radius: 0; }
  .dataTables_wrapper .dataTables_info {
    display: none; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-top: 5px !important; }

.custom-datetimepicker .datepicker {
  min-width: 21em; }
.custom-datetimepicker .ui-datepicker-trigger {
  margin-left: -36px;
  height: 32px;
  width: 35px;
  padding: 5px;
  background-color: #f9fafb;
  border-left: 1px solid #d3d7e0;
  cursor: pointer; }

.ui-widget.ui-widget-content {
  border: 1px solid #d3d7e0;
  border-radius: 2px;
  padding: 5px;
  width: unset; }
  .ui-widget.ui-widget-content .ui-datepicker-header {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px; }
    .ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all {
      font-family: 'FontAwesome';
      position: absolute;
      top: 11px;
      text-align: center;
      color: #D3D3D3;
      font-weight: 400 !important; }
      .ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all:hover {
        border: none;
        background-color: transparent;
        color: #C6C6C6;
        font-weight: 400 !important; }
      .ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all .ui-icon {
        background-image: none;
        display: none; }
    .ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-prev:before {
      content: "\f053"; }
    .ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-title {
      color: #0084E0; }
    .ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-next:before {
      content: "\f054"; }
  .ui-widget.ui-widget-content .ui-datepicker-calendar thead tr th span {
    font-weight: 600;
    color: #909090;
    text-transform: uppercase; }
  .ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-default {
    border: none;
    color: #696c74;
    background-color: #f7f8f9;
    padding: 5px 10px; }
  .ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-highlight, .ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-active {
    background-color: #0084E0;
    color: #ffffff; }

.owl-carousel .owl-nav > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px 0 #cbcbcb;
  opacity: .3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .owl-carousel .owl-nav > div:hover {
    background-color: rgba(255, 255, 255, 0.8); }
  .owl-carousel .owl-nav > div.disabled {
    color: #dedede; }
.owl-carousel .owl-nav .owl-prev {
  left: -15px;
  padding: 10px 7px; }
.owl-carousel .owl-nav .owl-next {
  right: -15px;
  padding: 10px 10px; }
.owl-carousel:hover .owl-nav > div {
  opacity: 1; }

.swal-modal {
  width: 420px; }
  .swal-modal .swal-title {
    font-size: 16px; }
  .swal-modal .swal-text {
    font-size: 14px; }
  .swal-modal .swal-button {
    font-size: 14px;
    padding: 0.5em 2em;
    border-radius: 5px; }

.xzoom-preview {
  z-index: 99; }

.col-5-inline, .col-7-inline, .col-8-inline, .col-9-inline, .col-10-inline, .col-80-percent, .col-60-percent, .col-40-percent,
.col-sm-5-inline, .col-sm-7-inline, .col-sm-8-inline, .col-sm-9-inline, .col-sm-10-inline, .col-sm-80-percent, .col-sm-60-percent, .col-sm-40-percent,
.col-md-5-inline, .col-md-7-inline, .col-md-8-inline, .col-md-9-inline, .col-md-10-inline, .col-md-80-percent, .col-md-60-percent, .col-md-40-percent,
.col-lg-5-inline, .col-lg-7-inline, .col-lg-8-inline, .col-lg-9-inline, .col-lg-10-inline, .col-lg-80-percent, .col-lg-60-percent, .col-lg-40-percent,
.col-xl-5-inline, .col-xl-7-inline, .col-xl-8-inline, .col-xl-9-inline, .col-xl-10-inline, .col-xl-80-percent, .col-xl-60-percent, .col-xl-40-percent {
  position: relative;
  width: 100%;
  min-height: 1px;
  float: left;
  padding-right: 15px;
  padding-left: 15px; }

/*Cột 80%*/
.col-80-percent {
  flex: 0 0 80%;
  max-width: 80%; }

/*Cột 60%*/
.col-60-percent {
  flex: 0 0 60%;
  max-width: 60%; }

/*Cột 40%*/
.col-40-percent {
  flex: 0 0 40%;
  max-width: 40%; }

/*5 cột/hàng*/
.col-5-inline {
  flex: 0 0 20%;
  max-width: 20%; }

/*7 cột/hàng*/
.col-7-inline {
  flex: 0 0 14.2857%;
  max-width: 14.2857%; }

/*8 cột/hàng*/
.col-8-inline {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

/*9 cột/hàng*/
.col-9-inline {
  flex: 0 0 11.1111%;
  max-width: 11.1111%; }

/*10 cột/hàng*/
.col-10-inline {
  flex: 0 0 10%;
  max-width: 10%; }

/*SM*/
@media (min-width: 576px) {
  /*Cột 80%*/
  .col-sm-80-percent {
    flex: 0 0 80%;
    max-width: 80%; }

  /*Cột 60%*/
  .col-sm-60-percent {
    flex: 0 0 60%;
    max-width: 60%; }

  /*Cột 40%*/
  .col-sm-40-percent {
    flex: 0 0 40%;
    max-width: 40%; }

  /*5 cột/hàng*/
  .col-sm-5-inline {
    flex: 0 0 20%;
    max-width: 20%; }

  /*7 cột/hàng*/
  .col-sm-7-inline {
    flex: 0 0 14.2857%;
    max-width: 14.2857%; }

  /*8 cột/hàng*/
  .col-sm-8-inline {
    flex: 0 0 12.5%;
    max-width: 12.5%; }

  /*9 cột/hàng*/
  .col-sm-9-inline {
    flex: 0 0 11.1111%;
    max-width: 11.1111%; }

  /*10 cột/hàng*/
  .col-sm-10-inline {
    flex: 0 0 10%;
    max-width: 10%; } }
/*MD*/
@media (min-width: 768px) {
  /*Cột 80%*/
  .col-md-80-percent {
    flex: 0 0 80%;
    max-width: 80%; }

  /*Cột 60%*/
  .col-md-60-percent {
    flex: 0 0 60%;
    max-width: 60%; }

  /*Cột 40%*/
  .col-md-40-percent {
    flex: 0 0 40%;
    max-width: 40%; }

  /*5 cột/hàng*/
  .col-md-5-inline {
    flex: 0 0 20%;
    max-width: 20%; }

  /*7 cột/hàng*/
  .col-md-7-inline {
    flex: 0 0 14.2857%;
    max-width: 14.2857%; }

  /*8 cột/hàng*/
  .col-md-8-inline {
    flex: 0 0 12.5%;
    max-width: 12.5%; }

  /*9 cột/hàng*/
  .col-md-9-inline {
    flex: 0 0 11.1111%;
    max-width: 11.1111%; }

  /*10 cột/hàng*/
  .col-md-10-inline {
    flex: 0 0 10%;
    max-width: 10%; } }
/*LG*/
@media (min-width: 992px) {
  /*Cột 80%*/
  .col-lg-80-percent {
    flex: 0 0 80%;
    max-width: 80%; }

  /*Cột 60%*/
  .col-lg-60-percent {
    flex: 0 0 60%;
    max-width: 60%; }

  /*Cột 40%*/
  .col-lg-40-percent {
    flex: 0 0 40%;
    max-width: 40%; }

  /*5 cột/hàng*/
  .col-lg-5-inline {
    flex: 0 0 20%;
    max-width: 20%; }

  /*7 cột/hàng*/
  .col-lg-7-inline {
    flex: 0 0 14.2857%;
    max-width: 14.2857%; }

  /*8 cột/hàng*/
  .col-lg-8-inline {
    flex: 0 0 12.5%;
    max-width: 12.5%; }

  /*9 cột/hàng*/
  .col-lg-9-inline {
    flex: 0 0 11.1111%;
    max-width: 11.1111%; }

  /*10 cột/hàng*/
  .col-lg-10-inline {
    flex: 0 0 10%;
    max-width: 10%; } }
/*XL*/
@media (min-width: 1200px) {
  /*Cột 80%*/
  .col-xl-80-percent {
    flex: 0 0 80%;
    max-width: 80%; }

  /*Cột 60%*/
  .col-xl-60-percent {
    flex: 0 0 60%;
    max-width: 60%; }

  /*Cột 40%*/
  .col-xl-40-percent {
    flex: 0 0 40%;
    max-width: 40%; }

  /*5 cột/hàng*/
  .col-xl-5-inline {
    flex: 0 0 20%;
    max-width: 20%; }

  /*7 cột/hàng*/
  .col-xl-7-inline {
    flex: 0 0 14.2857%;
    max-width: 14.2857%; }

  /*8 cột/hàng*/
  .col-xl-8-inline {
    flex: 0 0 12.5%;
    max-width: 12.5%; }

  /*9 cột/hàng*/
  .col-xl-9-inline {
    flex: 0 0 11.1111%;
    max-width: 11.1111%; }

  /*10 cột/hàng*/
  .col-xl-10-inline {
    flex: 0 0 10%;
    max-width: 10%; } }
.custom-control {
  margin-right: 0;
  margin-bottom: 0;
  /**
   * Custom Radio
   */ }
  .custom-control .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none; }
  .custom-control .custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #0084E0;
    box-shadow: 0 0 0 1px rgba(0, 132, 224, 0.9); }
  .custom-control .custom-control-input:hover ~ .custom-control-indicator {
    color: #fff;
    background-color: #0093fa;
    box-shadow: 0 0 0 1px rgba(0, 132, 224, 0.9); }
  .custom-control .custom-control-input:active ~ .custom-control-indicator {
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 132, 224, 0.5); }
  .custom-control .custom-control-indicator {
    box-shadow: 0 0 0 1px #dedede;
    border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-control.custom-radio .custom-control-indicator {
    border-radius: 50%;
    box-shadow: 0 0 0 1px #dedede;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }

/**
 * Custom Select
 */
.custom-select {
  padding: 0.7em 2em 0.7em 1em;
  border-radius: 2px;
  border-color: #d3d7e0;
  background-color: #fdfdfe; }

select {
  height: unset !important; }

/**
 * Custom Ticker
 */
.custom-ticker {
  padding: .8rem 1.5rem .8rem 3.3rem;
  border-radius: 2px;
  border: 1px solid #dedede;
  background-color: #fdfdfd; }
  .custom-ticker .custom-control-indicator {
    left: 1rem;
    top: .8rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem; }
  .custom-ticker .custom-control-description {
    display: block;
    text-align: left; }

.custom-image-upload {
  text-align: center;
  display: flex;
  position: relative;
  background-color: #fdfdfe;
  border: 1px solid #d3d7e0;
  border-radius: 2px;
  margin: auto;
  width: 15em;
  max-width: 100%;
  background-image: url(attachs/custom-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 130px;
  /**
   * Style
   */ }
  .custom-image-upload .img-preview {
    max-width: 100%;
    max-height: 15em;
    margin: auto; }
  .custom-image-upload .custom-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .custom-image-upload .custom-label input {
      opacity: 0; }
  .custom-image-upload .remove-preview {
    border-radius: 100%;
    background-color: #fff;
    color: #56C0E5;
    padding: .2em;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
    border: 1px solid #d3d7e0;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .custom-image-upload .remove-preview:hover {
    background-color: #56C0E5;
    border-color: #56C0E5;
    color: #fff; }
  .custom-image-upload.custom-iu-sm {
    width: 15em;
    height: 15em; }
    .custom-image-upload.custom-iu-sm .img-preview {
      max-height: 15em; }
  .custom-image-upload.custom-iu-md {
    width: 22em;
    height: 22em; }
    .custom-image-upload.custom-iu-md .img-preview {
      max-height: 22em; }
  .custom-image-upload.custom-iu-lg {
    width: 28em; }
    .custom-image-upload.custom-iu-lg:before {
      content: '';
      padding: 50% 0;
      display: inline-block; }

.custom-number button {
  background-color: #f7f7f7;
  border: 1px solid #d3d7e0; }
  .custom-number button:hover {
    background-color: #E3E3E3; }
.custom-number .quantity-minus {
  border-right: none; }
.custom-number .quantity-plus {
  border-left: none; }
.custom-number input {
  border: 1px solid #d3d7e0;
  border-left: none;
  border-right: none;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 5em; }

.custom-toggle {
  display: unset;
  /**
   * Style
   */ }
  .custom-toggle .toggle-checkbox {
    display: none; }
    .custom-toggle .toggle-checkbox:checked ~ .toggle-inner > .toggle-button {
      margin-left: 2em; }
  .custom-toggle .toggle-inner {
    width: 4em;
    height: 2em;
    background-color: #E1E1E1;
    box-shadow: inset 1px 1px 5px 0px #848484;
    border-radius: 20px;
    padding: .2em;
    display: inline-flex;
    margin-right: 1em;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .custom-toggle .toggle-inner .toggle-button {
      height: 1.6em;
      width: 1.6em;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 0;
      margin-bottom: 0;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .custom-toggle .toggle-text {
    margin-bottom: 0; }
  .custom-toggle.toggle-primary input.toggle-checkbox:checked ~ .toggle-inner {
    box-shadow: inset 1px 1px 5px 0px #00487a;
    background-color: #0084E0; }
  .custom-toggle.toggle-success input.toggle-checkbox:checked ~ .toggle-inner {
    box-shadow: inset 1px 1px 5px 0px #69a730;
    background-color: #9cd469; }
  .custom-toggle.toggle-info input.toggle-checkbox:checked ~ .toggle-inner {
    box-shadow: inset 1px 1px 5px 0px #1c90b9;
    background-color: #56C0E5; }
  .custom-toggle.toggle-warning input.toggle-checkbox:checked ~ .toggle-inner {
    box-shadow: inset 1px 1px 5px 0px #e6a404;
    background-color: #fccb54; }
  .custom-toggle.toggle-danger input.toggle-checkbox:checked ~ .toggle-inner {
    box-shadow: inset 1px 1px 5px 0px #ba1d2f;
    background-color: #e55868; }

.scrollbar::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#0066ad), to(#0066ad), color-stop(0.6, #0084E0));
  background-image: -moz-gradient(linear, 40% 0%, 75% 84%, from(#0066ad), to(#0066ad), color-stop(0.6, #0084E0)); }

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5; }

.sb.sb-vnd:before {
  content: "đ";
  text-decoration: underline;
  text-transform: lowercase; }
.sb.sb-usd:before {
  content: "$"; }

/**
 * Line height
 */
.lh-default {
  line-height: 1.5; }

.lh-2 {
  line-height: 2; }

/**
 * Text
 */
.c-red {
  color: #E00000; }

.fz-up-1 {
  font-size: 1.1rem; }

.fz-up-2 {
  font-size: 1.2rem; }

.fz-up-3 {
  font-size: 1.3rem; }

.fz-up-4 {
  font-size: 1.4rem; }

.fz-up-5 {
  font-size: 1.5rem; }

.fz-down-1 {
  font-size: .9rem; }

.fz-down-2 {
  font-size: .8rem; }

.fz-down-3 {
  font-size: .7rem; }

.fz-down-4 {
  font-size: .6rem; }

.fz-down-5 {
  font-size: .5rem; }

/**
 * Flex
 */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/**
 * Format
 */
article.content img, article.content iframe {
  max-width: 100%; }
article.content h1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5; }
article.content h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5; }
article.content h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5; }
article.content h4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5; }
article.content h5 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.5; }
article.content h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5; }

/*# sourceMappingURL=components.css.map */
