@import "particles/variables";
@import "particles/mixins";

html, body{
	background-color: #f5f5f5;
	font-size: 14px;
}

/**
 * Default Block
 */
 .default__block-primary{
 	.block-header{
 		border-bottom: 2px solid #C3C3C3;

 		.block-title{
 			text-transform: uppercase;
 			padding: .7rem 0;
 			margin-bottom: 0;
 			font-weight: 500;
 			font-size: 1.4rem;
 			line-height: 1.4;
 		}
 	}
 	.block-body{
 		padding: 2rem;
 		background-color: #fff;

 		@include maw-sm{
 			padding: 1rem;
 		}
 	}
 }

/**
 * Cart Content Block
 */
 .default__block-cart{
 	.table{
 		background-color: #fff;
 	}
 	.table-bordered td, .table-bordered th{
 		border: 0;
 	}
 	.table-bordered tr:not(:last-child) td{
 		border-bottom: 1px solid #e9ecef;
 	}
 	.table tbody tr td{
 		padding: 1rem 1.5rem;
 	}
 }

/**
 * Empty Cart Block
 */
 .default__block-empty-cart{
 	text-align: center;
 	line-height: 2;
 	font-size: 1.5rem;
 	padding: 50px 0;

 	.image{
 		margin-bottom: 2rem;
 	}
 	.title{
 		font-weight: 400;
 		text-transform: uppercase;
 		color: #E00000;
 	}
 	.description{
 		color: #909090;
 		margin-bottom: 2rem;
 		font-size: 1.4rem;
 		font-weight: 300;
 	}
 	.default__continue-buy{
 		font-size: 1.5rem;
 		font-weight: 300;
 	}
 }

/**
 * Checkout Block
 */
 .default__block-checkout{
 	.block-body{
 		padding: 2em;
 		background-color: #fff;
 	}

 	.form-control{
 		padding: .8em 1em;
 		border-radius: 2px;
 		border: 1px solid #E7E7E7;
 	}
 	.number-readonly{
 		width: 4em;
 		display: inline-block;
 		padding: 4px 7px;
 		text-align: center;
 		background-color: #fff;
 		border-radius: 3px;
 		border: 1px solid #dedede;
 	}
 	#atm_wrapper{
 		.item-ticker-col{
 			padding-left: 5px;
 			padding-right: 5px;

 			.item-ticker{
 				position: relative;
 				cursor: pointer;

 				.item-input{
 					display: none;

 					&:checked{
 						~ .item-hint{
 							border: 1.5px solid #E00000;

 							&::after{
 								content: "\f00c";
 								font-family: "FontAwesome";
 								color: #fff;
 								background-color: #E00000;
 								width: 20px;
 								height: 20px;
 								display: block;
 								text-align: center;
 								position: absolute;
 								right: -10px;
 								top: -10px;
 								border-radius: 50%;
 							}
 						}
 					}
 				}
 				.item-img{
 					width: 100%;
 				}
 				.item-hint{
 					position: absolute;
 					top: 0;
 					bottom: 0;
 					left: 0;
 					right: 0;
 					border: 1.5px solid transparent;

 					&:hover{
 						border: 1.5px dashed #02B0D5;
 					}
 				}
 			}
 		}
 	}
 }
 aside.default__block-checkout{
 	.block-body{
 		line-height: 2;

 		.media{
 			padding-bottom: 1em;

 			img{
 				border: 1px solid #dedede;
 				border-radius: 3px;
 			}
 		}
 		.media:not(:first-child){
 			padding-top: 1em;
 			border-top: 1px solid #dedede;
 		}
  }
 	.total-bill{
 		background: #e9e9e9;
 		margin: 0 -2em;
 		padding: 1em 2em;
 		display: flex;
 		justify-content: space-between;
 	}
 }

/**
 * Single Page
 */
 header.default__single-page{
 	background-color: #fff;
 	padding: 1rem 0;
 	border-bottom: 3px solid #f0f0f0;

 	.logo{
 		img{
 			max-width: 200px;

 		}
 		@include maw-md{
 			text-align: center;
 			margin-bottom: 1.5rem;
 		}
 	}
 	.hotline{
 		display: flex;
 		align-items: center;
 		float: right;

 		@include maw-md{
 			float: none;
 			justify-content: center;
 		}

 		.hotline-icon{
 			transform: rotateZ(-45deg);
 			font-size: 2.5rem;
 		}
 		.hotline-text{
 			line-height: 1.2;

 			.hotline-label{

 			}
 			.hotline-number{
 				a{
 					color: #E00000;
 					font-weight: 600;
 					font-size: 1.5rem;
 				}
 			}
 		}
 	}
 }
 main.default__single-page{
 	background-color: #f5f5f5;
 }
 footer.default__single-page{
 	padding: 1rem 0;
 	background-color: #fff;
 }

/**
 * Page Content Block
 */
 .default__block-page-content{
 	background-color: #fff;
 	padding: 2rem;

 	@include maw-sm{
 		padding: 1rem;
 	}

 	.block-header{
 		margin-bottom: 1.5rem;

 		.block-title{
 			font-weight: 400;
 			font-size: 1.5rem;
 			line-height: 1.4;
 		}
 	}
 	.block-body{
 		line-height: 1.5;

 		.page-content{
 			margin-bottom: 2rem;
 		}
 		.contact-information{
 			.contact-title{
 				font-size: 1.3rem;
 				font-weight: 500;
 				margin-bottom: 1rem;
 			}
 			ul{
 				li{
 					line-height: 3;
 					color: #5A5A5A;

 					>i{
 						vertical-align: middle;
 					}
 				}
 			}
 			.follow{
 				font-weight: 500;
 				i{
 					vertical-align: middle;
 				}
 				i.fa-google-plus-square{
 					color: #dd4b39;
 				}
 				i.fa-facebook-square{
 					color: #3a559f;
 				}
 			}
 		}
 		.contact-form{
 			.contact-title{
 				font-size: 1.3rem;
 				font-weight: 500;
 				margin-bottom: 1rem;
 			}
 			label{
 				font-weight: 500;
 			}
 			.form-control{
 				border-radius: 0;
 				padding: .7em 1em;
 				border-color: #ebebeb;
 				height: unset !important;
 			}
 		}
 	}
 	.block-footer{
 		background-color: #fff;
 		padding: 1rem 0;

 		.page-related{
 			line-height: 2;
 		}
 	}
 }

/**
 * Single Product Block
 */
 .default__block-single{
 	.block-header{
 		.block-title{
 			font-weight: 400;
 			font-size: 1.3rem;
 			text-transform: uppercase;
 			margin-bottom: .7rem;
 		}
 	}
 	.block-body{
 		background-color: #fff;
 		padding: 2rem;

 		@include maw-sm{
 			padding: 1rem;
 		}
 	}
 	&.single-about{
 		background-color: #fff;
 		padding: 2rem;
 		@include maw-sm{
 			padding: 2rem 1rem;
 		}

 		.xzoom-container{
 			#main_image{
 				margin-bottom: 1.5rem;
 			}
 		}
 		.single-name{
 			font-size: 1.6rem;
 			font-weight: 400;
 		}
 		.single-summaries{
 			margin-bottom: .5rem;
 		}
 		.single-price{
 			line-height: 2;
 			font-weight: 500;
 			font-size: 1.5rem;
 			color: #FF0000;
 		}
 		.single-sale-of{
 			line-height: 2;
 			color: #898989;
 		}
 		.single-terms{
 			line-height: 2;
 			padding-left: 1.2rem;
 		}
 		.single-options{
 			.form-group{
 				display: flex;
 				justify-content: space-between;
 				align-items: center;

 				.form-control{
 					max-width: 15rem;
 					padding: .8rem;
 					border-radius: 2px;
 					border: 1px solid #dedede;
 				}
 			}
 		}
 		#default__addToCart{
 			width: 100%;
 			position: fixed;
 			bottom: 0;
 			left: 0;
 			right: 0;
 			z-index: 100;
 			padding: 1rem;
 			background-color: rgba(255,255,255,.6);
 			box-shadow: 0 0 10px 0px #6a6a6a;

 			button.btn{
 				background-color: #E00000;
 				color: #fff;
 				border-radius: 2px;
 				padding: 1rem;
 				font-size: 1.2rem;
 				cursor: pointer;
 				width: 100%;
 				text-transform: uppercase;

 				&:hover{
 					color: #fff;
 					background-color: darken(#E00000, 5%);
 				}
 			}
 			@include miw-md{
 				display: none;
 			}
 		}
 	}
 	&.single-specifications{
 	}
 	&.single-description{
 		article.content{
 			max-height: 100vh;
 			overflow: hidden;
 		}
 		.show-content{
 			text-align: center;
 			padding: 1rem 0;

 			button{
 				border-radius: 3px;
 				font-size: 1rem;
 				color: #009FDA;
 				border: 1px solid #009FDA;
 				padding: 1rem 2rem;
 				background-color: transparent;
 				cursor: pointer;

 				&:hover{
 					color: #fff;
 					background-color: #009FDA;
 				}
 			}
 		}
 	}
 }

/**
 * User Aside Block
 */
 .default__block-user-aside{
 	.block-body{
 		padding: 2rem;
 		background-color: #fff;

 		.user-avatar{
 			text-align: center;
 			position: relative;
 		}
 		.user-name{
 			padding: .3em 0;
 			text-align: center;
 			font-weight: 500;
 			font-size: 1.1rem;

 			span{
 				cursor: pointer;
 			}
 		}
 		.user-shortcuts{
 			padding: 0;
 			margin: 0;
 			list-style: none;

 			> li{
 				> a{
 					padding: .6em;
 					display: block;
 					color: #676767;

 					&:hover{
 						color: #0089C9;
 					}
 				}
 			}
 			> li.active{
 				a {
 					color: #0089C9;
 				}
 			}
 		}
 	}
 }

/**
 * Order History Block
 */
 .default__block-order-history{
 	.nav-pills{
 		background-color: #676767;

 		.nav-link{
 			border-radius: 0;
 			padding: .8em 2em;
 			color: #fff;

 			&.active {
 				background-color: #fff;
 				color: #676767;
 			}
 		}

 	}
 	.block-body{
 		background-color: #fff;
 	}
 	.item-order{
 		border: 1px solid #dedede;
 		padding: 1rem;
 		margin-bottom: 2rem;

 		.item-header{
 			border-bottom: 1.5px solid #dedede;
 			padding-bottom: 1rem;
 		}
 		.item-body{
 			.item-content{
 				padding: .8rem 0;
        display: flex;

 				.item-thumb{
 					float: left;
 					margin-right: 1rem;
 					border: 1px solid #dedede;
 				}
 				&:not(:last-child){
 					border-bottom: 1px solid #ECECEC;
 				}
 			}
 		}
 		.item-footer{
 			border-top: 1px solid #dedede;
 			padding-top: 1rem;
 		}
 	}
 }

/**
 * Auth Block
 */
 .default__block-auth{
 	.block-body{
 		background-color: #fff;

 		.button-wrap{
 			label{
 				font-weight: 500;
 			}
 			.btn{
 				border-radius: 0 2px 2px 0;
 				color: #fff;
 				cursor: pointer;
 				padding-top: .8em;
 				padding-bottom: .8em;
 			}
 			.input-group-addon{
 				border-radius: 2px 0 0 2px;
 				border: none;
 				color: #fff;
 				cursor: pointer;
 				padding-top: .8em;
 				padding-bottom: .8em;
 			}
 			.facebook{
 				.btn{
 					background-color: #3b5998;
 				}
 				.input-group-addon{
 					background-color: #354F85;
 				}
 			}
 			.google{
 				.btn{
 					background-color: #df4a32;
 				}
 				.input-group-addon{
 					background-color: #CF432D;
 				}
 			}
 		}
 		form{
 			.form-control{
 				border-color: #dedede;
 				padding: .8em 1em;
 			}
 			.input-group{
 				.input-group-addon{
 					border-radius: 2px 0 0 2px;
 					border-right: 0;
 					background-color: #fff;
 					font-size: 1.5em;
 				}
 				.form-control{
 					border-radius: 0 2px 2px 0;
 					border-left: 0;
 					padding-left: .5em;
 				}
 			}
 		}
 	}
 }

/**
 * Search page
 */
 .default__block-search{
 	.block-header{
 		.block-title{
 			text-transform: none;
 			font-weight: 300;

 			strong{
 				font-weight: 500;
 			}
 		}	
 	}
 	.block-body{
 		background-color: #fff;
 	}
 	.block-footer{
 		text-align: right;
 		padding: 1rem 0;
 	}
 	&.search-box{
 		padding: 1rem;
 		background-color: #EDEDED;

 		.form-control{
 			padding: 1.5em 1.5em;
 			border-radius: 2px 0 0 2px;
 			background-color: #fff;
 			border-color: #ebebeb;
 		}
 		.input-group-btn{
 			.btn{
 				padding: 1.5em 1.5em;
 				border-radius: 0 2px 2px 0;
 				border-color: #ebebeb;
 				background-color: #fff;
 				border-left: 0;
 			}
 		}
 	}
 	&.search-filter{
 		padding: 1rem;
 		background-color: #EDEDED;
 	}
 	.nav.nav-pills{
 		background-color: #fff;

 		.nav-item{
 			border-radius: 0;
 			padding: 1rem 2rem;
 			text-transform: uppercase;
 		}
 	}
 }

/**
 * Article Content Block
 */
 .default__block-article-content{
 	background-color: #fff;
 	padding: 2rem;

 	@include maw-sm{
 		padding: 1rem;
 	}

 	.block-header{
 		margin-bottom: 1.5rem;

 		.block-title{
 			font-weight: 400;
 			font-size: 1.5rem;
 			line-height: 1.4;
 		}
 		.block-description{
 			color: #676767;
 		}
 	}
 	.block-footer{
 		padding: 1rem 0;

 		.article-tags{
 			margin-bottom: 1.5rem;

 			a{
 				padding: .3rem .8rem;
 				margin-bottom: .2rem;
 				background-color: #57CAFF;
 				display: inline-block;
 				border-radius: 4px;
 				color: #004768;
 				@include transition(.2s);

 				&:hover{
 					color: #fff;
 				}
 			}
 		}
 	}
 }

/**
 * Article Aside Block
 */
.default__block-article-aside{
  .block-body{
    padding: 1rem;
  }
}

/**
 * Buttons
 */
 .default__btn-primary{
 	color: #fff;
 	background-color: $primary;
 	border-radius: 3px;
 	cursor: pointer;
 	padding: .8rem 1.5rem;

 	&:hover{
 		color: #fff;
 		background-color: darken($primary, 10%);
 	} 
 }
 .default__btn-cart-remove{
 	background-color: transparent;
 	color: #676767;
 	padding: 0;
 	cursor: pointer;
 	line-height: 2;

 	&:before{
 		font-family: "FontAwesome";
 		content: "\f014";
 		margin-right: .5em;
 	}
 	&:hover{
 		color: #f00;
 	}
 }
 .default__btn-cart-destroy{
 	color: $secondary;
 	border: 1px solid $secondary;
 	background-color: transparent;
 	border-radius: 3px;
 	cursor: pointer;
 	padding: .8rem 1.5rem;

 	&:hover{
 		color: darken($secondary, 10%);
 		border: 1px solid darken($secondary, 10%);
 	}	
 }

 .default__btn-checkout{
 	background-color: $secondary;
 	color: #fff;
 	text-transform: uppercase;
 	border-radius: 3px;
 	cursor: pointer;
 	padding: .8rem 2rem;
 	margin-top: 1rem;
 	margin-bottom: 1rem;

 	&:hover{
 		color: #fff;
 		background-color: darken($secondary, 10%);
 	}
 }
 .default__btn-coupon-check{
 	padding: .8em;
 	background-color: $secondary;
 	color: #fff;
 	cursor: pointer;
 	border-radius: 0 2px 2px 0;

 	&:hover{
 		color: #fff;
 		background-color: darken($secondary, 10%);
 	}
 }
 .default__continue-buy{
 	padding: 1rem 2rem;
 	background-color: $primary;
 	border-radius: 3px;
 	color: #fff;
 	cursor: pointer;
 	font-weight: 300;

 	&:hover{
 		color: #fff;
 		background-color: darken($primary, 10%);
 	}
 }
 .default__single_btn-add-to-cart{
 	background-color: $secondary;
 	color: #fff;
 	border-radius: 2px;
 	padding: .8rem;
 	max-width: 15rem;
 	cursor: pointer;
 	font-weight: 300;

 	&:hover{
 		color: #fff;
 		background-color: darken($secondary, 5%);
 	}
 	@include maw-sm{
 		max-width: 100%;
 	}
 }
 .default__single_btn-add-to-wishlist{
 	padding: 0;
 	line-height: 2;
 	color: #C1C1C1;
 	background-color: transparent;
 	font-size: 1rem;
 	cursor: pointer;

 	&:hover, &.checked{
 		color: #E9008F;
 	}
 }
.default__btn-remove-wish-item{
  padding: 0;
  color: #E00000;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 30px;
  z-index: 90;
  width: 30px;
  height: 30px;
  line-height: 1;
  border: 1.5px solid #E00000;
  border-radius: 50%;
  opacity: .7;
  @include transition(.3s);
  cursor: pointer;

  &:hover{
    opacity: 1;
  }
 }

/**
 * Custom Control
 */
 .default__quantity-custom{
 	padding: .5rem 1.5rem;	
 	text-align: center;
 	border-radius: 2px;
 	border: 1px solid #dedede;
 }
 /**
  * -------------
  * Option
  */
  .edit-option{

  	&:before {
  		width: 100%;
  		content: "\f040";
  		font-family: "FontAwesome";
  		cursor: pointer;
  		padding: 0 5px;
  		font-size: 1rem;
  	}

  	&.img {
  		position: relative;
  		float: left;
  		margin-left: 1em;
  		margin-top: -3em;
  		border-radius: 3px;
  		background-color: rgba(0,0,0,0.3);
  		color: #fff;
  		padding: 0.3em;
  		cursor: pointer;
  		z-index: 1;
  		width: 30px;
  		@include transition(0.2s);    

  		&:hover {
  			background-color: rgba(0,0,0,0.5);
  		}
  	}
  }

 /**
  * Product Item
  */
  .default__product-item{
  	border: none;
  	background-color: transparent;
  	margin-bottom: 1rem;
    padding-bottom: 1rem;

  	.product-thumbnail{
  		padding-bottom: 100%;
  		overflow: hidden;
  		position: relative;
  		width: 100%;
      background-color: #fff;
      border: 1px solid #dedede;

  		img{
  			position: absolute;
  			top: 0;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			margin: auto;
  			max-height: 100%;
  			max-width: 100%;
  		}
  	}
  	.product-info{
  		padding: 0;

  		.product-name{
  			margin: .5em auto;
  			max-height: 3rem;
  			overflow: hidden;

  			a{
  				color: #676767;
  			}
  		}
  		.product-price{
  			margin: .5em auto;
  			color: #f00;
  			font-weight: 600;

  			.product-sale-of{
  				font-size: 12px;
  				font-weight: 500;
  				color: #686871;
  			}
  		}
  	}
  }

/**
 * Article Item
 */
 .default__article-item{
  display: flex;
 	margin-bottom: 1.5rem;

 	.article-thumbnail{
 		margin-right: 1rem;

 		img{
 			width: 150px;
 			max-width: 150px;

 			@include maw-sm{
 				max-width: 100px;
 			}
 		}
 	}
 	.article-info{
 		.article-title{
 			font-weight: 400;
 			font-size: 1.2rem;
 			margin-bottom: .5rem;
 			line-height: 1.4;

 			@include maw-sm{
 				font-size: 1rem;
 				margin-bottom: 0;

 				a{
 					color: #000;
 					font-weight: 500;
 				}
 			}
 		}
 		.article-description{
 			line-height: 1.7;

 			@include maw-sm{
 				display: none;
 			}
 		}
 		time{
 			font-size: .9rem;
 			font-style: italic;
 			color: #676767;

 			&:before{
 				font-family: "FontAwesome";
 				content: "\f017";
 				margin-right: .4rem;
 				font-style: normal;
 			}
 		}
 	}
 	&.small-article-item{
 		.article-thumbnail{
 			img{
 				max-width: 100px;
 			}
 		}
 		.article-info{
 			.article-title{
 				font-size: 1rem;
 				a{
 					color: #000;
 					font-weight: 500;
 				}
 			}
 		}
 	}
 }

 /**
  * Margin Block
  */
 .default__block-single.single-related,
 .default__block-single.single-specifications,
 .default__block-single.single-description{
  margin-bottom: 3rem;
 }
 .default__block-single.single-about,
 .default__block-feature-article,
 .default__block-related-article,
 .default__block-article-content,
 .default__block-articles,
 .default__block-products,
 .default__block-page-content,
 .default__block-cart,
 .default__block-empty-cart,
 .default__block-auth,
 .default__block-order-history,
 .default__block-user-profile,
 .default__block-wishlist,
 .default__block-user-aside,
 .default__block-search {
  margin-top: 3rem;
  margin-bottom: 3rem;
 }