/**
 * --------
 * Responsive
 */
/*
 * Mixins
 */
html, body {
  background-color: #f5f5f5;
  font-size: 14px; }

/**
 * Default Block
 */
.default__block-primary .block-header {
  border-bottom: 2px solid #C3C3C3; }
  .default__block-primary .block-header .block-title {
    text-transform: uppercase;
    padding: .7rem 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4; }
.default__block-primary .block-body {
  padding: 2rem;
  background-color: #fff; }
  @media (max-width: 767px) {
    .default__block-primary .block-body {
      padding: 1rem; } }

/**
 * Cart Content Block
 */
.default__block-cart .table {
  background-color: #fff; }
.default__block-cart .table-bordered td, .default__block-cart .table-bordered th {
  border: 0; }
.default__block-cart .table-bordered tr:not(:last-child) td {
  border-bottom: 1px solid #e9ecef; }
.default__block-cart .table tbody tr td {
  padding: 1rem 1.5rem; }

/**
 * Empty Cart Block
 */
.default__block-empty-cart {
  text-align: center;
  line-height: 2;
  font-size: 1.5rem;
  padding: 50px 0; }
  .default__block-empty-cart .image {
    margin-bottom: 2rem; }
  .default__block-empty-cart .title {
    font-weight: 400;
    text-transform: uppercase;
    color: #E00000; }
  .default__block-empty-cart .description {
    color: #909090;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300; }
  .default__block-empty-cart .default__continue-buy {
    font-size: 1.5rem;
    font-weight: 300; }

/**
 * Checkout Block
 */
.default__block-checkout .block-body {
  padding: 2em;
  background-color: #fff; }
.default__block-checkout .form-control {
  padding: .8em 1em;
  border-radius: 2px;
  border: 1px solid #E7E7E7; }
.default__block-checkout .number-readonly {
  width: 4em;
  display: inline-block;
  padding: 4px 7px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dedede; }
.default__block-checkout #atm_wrapper .item-ticker-col {
  padding-left: 5px;
  padding-right: 5px; }
  .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker {
    position: relative;
    cursor: pointer; }
    .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-input {
      display: none; }
      .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-input:checked ~ .item-hint {
        border: 1.5px solid #E00000; }
        .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-input:checked ~ .item-hint::after {
          content: "\f00c";
          font-family: "FontAwesome";
          color: #fff;
          background-color: #E00000;
          width: 20px;
          height: 20px;
          display: block;
          text-align: center;
          position: absolute;
          right: -10px;
          top: -10px;
          border-radius: 50%; }
    .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-img {
      width: 100%; }
    .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-hint {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1.5px solid transparent; }
      .default__block-checkout #atm_wrapper .item-ticker-col .item-ticker .item-hint:hover {
        border: 1.5px dashed #02B0D5; }

aside.default__block-checkout .block-body {
  line-height: 2; }
  aside.default__block-checkout .block-body .media {
    padding-bottom: 1em; }
    aside.default__block-checkout .block-body .media img {
      border: 1px solid #dedede;
      border-radius: 3px; }
  aside.default__block-checkout .block-body .media:not(:first-child) {
    padding-top: 1em;
    border-top: 1px solid #dedede; }
aside.default__block-checkout .total-bill {
  background: #e9e9e9;
  margin: 0 -2em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between; }

/**
 * Single Page
 */
header.default__single-page {
  background-color: #fff;
  padding: 1rem 0;
  border-bottom: 3px solid #f0f0f0; }
  header.default__single-page .logo img {
    max-width: 200px; }
  @media (max-width: 991px) {
    header.default__single-page .logo {
      text-align: center;
      margin-bottom: 1.5rem; } }
  header.default__single-page .hotline {
    display: flex;
    align-items: center;
    float: right; }
    @media (max-width: 991px) {
      header.default__single-page .hotline {
        float: none;
        justify-content: center; } }
    header.default__single-page .hotline .hotline-icon {
      transform: rotateZ(-45deg);
      font-size: 2.5rem; }
    header.default__single-page .hotline .hotline-text {
      line-height: 1.2; }
      header.default__single-page .hotline .hotline-text .hotline-number a {
        color: #E00000;
        font-weight: 600;
        font-size: 1.5rem; }

main.default__single-page {
  background-color: #f5f5f5; }

footer.default__single-page {
  padding: 1rem 0;
  background-color: #fff; }

/**
 * Page Content Block
 */
.default__block-page-content {
  background-color: #fff;
  padding: 2rem; }
  @media (max-width: 767px) {
    .default__block-page-content {
      padding: 1rem; } }
  .default__block-page-content .block-header {
    margin-bottom: 1.5rem; }
    .default__block-page-content .block-header .block-title {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.4; }
  .default__block-page-content .block-body {
    line-height: 1.5; }
    .default__block-page-content .block-body .page-content {
      margin-bottom: 2rem; }
    .default__block-page-content .block-body .contact-information .contact-title {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1rem; }
    .default__block-page-content .block-body .contact-information ul li {
      line-height: 3;
      color: #5A5A5A; }
      .default__block-page-content .block-body .contact-information ul li > i {
        vertical-align: middle; }
    .default__block-page-content .block-body .contact-information .follow {
      font-weight: 500; }
      .default__block-page-content .block-body .contact-information .follow i {
        vertical-align: middle; }
      .default__block-page-content .block-body .contact-information .follow i.fa-google-plus-square {
        color: #dd4b39; }
      .default__block-page-content .block-body .contact-information .follow i.fa-facebook-square {
        color: #3a559f; }
    .default__block-page-content .block-body .contact-form .contact-title {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1rem; }
    .default__block-page-content .block-body .contact-form label {
      font-weight: 500; }
    .default__block-page-content .block-body .contact-form .form-control {
      border-radius: 0;
      padding: .7em 1em;
      border-color: #ebebeb;
      height: unset !important; }
  .default__block-page-content .block-footer {
    background-color: #fff;
    padding: 1rem 0; }
    .default__block-page-content .block-footer .page-related {
      line-height: 2; }

/**
 * Single Product Block
 */
.default__block-single .block-header .block-title {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: .7rem; }
.default__block-single .block-body {
  background-color: #fff;
  padding: 2rem; }
  @media (max-width: 767px) {
    .default__block-single .block-body {
      padding: 1rem; } }
.default__block-single.single-about {
  background-color: #fff;
  padding: 2rem; }
  @media (max-width: 767px) {
    .default__block-single.single-about {
      padding: 2rem 1rem; } }
  .default__block-single.single-about .xzoom-container #main_image {
    margin-bottom: 1.5rem; }
  .default__block-single.single-about .single-name {
    font-size: 1.6rem;
    font-weight: 400; }
  .default__block-single.single-about .single-summaries {
    margin-bottom: .5rem; }
  .default__block-single.single-about .single-price {
    line-height: 2;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FF0000; }
  .default__block-single.single-about .single-sale-of {
    line-height: 2;
    color: #898989; }
  .default__block-single.single-about .single-terms {
    line-height: 2;
    padding-left: 1.2rem; }
  .default__block-single.single-about .single-options .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .default__block-single.single-about .single-options .form-group .form-control {
      max-width: 15rem;
      padding: .8rem;
      border-radius: 2px;
      border: 1px solid #dedede; }
  .default__block-single.single-about #default__addToCart {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 0px #6a6a6a; }
    .default__block-single.single-about #default__addToCart button.btn {
      background-color: #E00000;
      color: #fff;
      border-radius: 2px;
      padding: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      width: 100%;
      text-transform: uppercase; }
      .default__block-single.single-about #default__addToCart button.btn:hover {
        color: #fff;
        background-color: #c70000; }
    @media (min-width: 768px) {
      .default__block-single.single-about #default__addToCart {
        display: none; } }
.default__block-single.single-description article.content {
  max-height: 100vh;
  overflow: hidden; }
.default__block-single.single-description .show-content {
  text-align: center;
  padding: 1rem 0; }
  .default__block-single.single-description .show-content button {
    border-radius: 3px;
    font-size: 1rem;
    color: #009FDA;
    border: 1px solid #009FDA;
    padding: 1rem 2rem;
    background-color: transparent;
    cursor: pointer; }
    .default__block-single.single-description .show-content button:hover {
      color: #fff;
      background-color: #009FDA; }

/**
 * User Aside Block
 */
.default__block-user-aside .block-body {
  padding: 2rem;
  background-color: #fff; }
  .default__block-user-aside .block-body .user-avatar {
    text-align: center;
    position: relative; }
  .default__block-user-aside .block-body .user-name {
    padding: .3em 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem; }
    .default__block-user-aside .block-body .user-name span {
      cursor: pointer; }
  .default__block-user-aside .block-body .user-shortcuts {
    padding: 0;
    margin: 0;
    list-style: none; }
    .default__block-user-aside .block-body .user-shortcuts > li > a {
      padding: .6em;
      display: block;
      color: #676767; }
      .default__block-user-aside .block-body .user-shortcuts > li > a:hover {
        color: #0089C9; }
    .default__block-user-aside .block-body .user-shortcuts > li.active a {
      color: #0089C9; }

/**
 * Order History Block
 */
.default__block-order-history .nav-pills {
  background-color: #676767; }
  .default__block-order-history .nav-pills .nav-link {
    border-radius: 0;
    padding: .8em 2em;
    color: #fff; }
    .default__block-order-history .nav-pills .nav-link.active {
      background-color: #fff;
      color: #676767; }
.default__block-order-history .block-body {
  background-color: #fff; }
.default__block-order-history .item-order {
  border: 1px solid #dedede;
  padding: 1rem;
  margin-bottom: 2rem; }
  .default__block-order-history .item-order .item-header {
    border-bottom: 1.5px solid #dedede;
    padding-bottom: 1rem; }
  .default__block-order-history .item-order .item-body .item-content {
    padding: .8rem 0;
    display: flex; }
    .default__block-order-history .item-order .item-body .item-content .item-thumb {
      float: left;
      margin-right: 1rem;
      border: 1px solid #dedede; }
    .default__block-order-history .item-order .item-body .item-content:not(:last-child) {
      border-bottom: 1px solid #ECECEC; }
  .default__block-order-history .item-order .item-footer {
    border-top: 1px solid #dedede;
    padding-top: 1rem; }

/**
 * Auth Block
 */
.default__block-auth .block-body {
  background-color: #fff; }
  .default__block-auth .block-body .button-wrap label {
    font-weight: 500; }
  .default__block-auth .block-body .button-wrap .btn {
    border-radius: 0 2px 2px 0;
    color: #fff;
    cursor: pointer;
    padding-top: .8em;
    padding-bottom: .8em; }
  .default__block-auth .block-body .button-wrap .input-group-addon {
    border-radius: 2px 0 0 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding-top: .8em;
    padding-bottom: .8em; }
  .default__block-auth .block-body .button-wrap .facebook .btn {
    background-color: #3b5998; }
  .default__block-auth .block-body .button-wrap .facebook .input-group-addon {
    background-color: #354F85; }
  .default__block-auth .block-body .button-wrap .google .btn {
    background-color: #df4a32; }
  .default__block-auth .block-body .button-wrap .google .input-group-addon {
    background-color: #CF432D; }
  .default__block-auth .block-body form .form-control {
    border-color: #dedede;
    padding: .8em 1em; }
  .default__block-auth .block-body form .input-group .input-group-addon {
    border-radius: 2px 0 0 2px;
    border-right: 0;
    background-color: #fff;
    font-size: 1.5em; }
  .default__block-auth .block-body form .input-group .form-control {
    border-radius: 0 2px 2px 0;
    border-left: 0;
    padding-left: .5em; }

/**
 * Search page
 */
.default__block-search .block-header .block-title {
  text-transform: none;
  font-weight: 300; }
  .default__block-search .block-header .block-title strong {
    font-weight: 500; }
.default__block-search .block-body {
  background-color: #fff; }
.default__block-search .block-footer {
  text-align: right;
  padding: 1rem 0; }
.default__block-search.search-box {
  padding: 1rem;
  background-color: #EDEDED; }
  .default__block-search.search-box .form-control {
    padding: 1.5em 1.5em;
    border-radius: 2px 0 0 2px;
    background-color: #fff;
    border-color: #ebebeb; }
  .default__block-search.search-box .input-group-btn .btn {
    padding: 1.5em 1.5em;
    border-radius: 0 2px 2px 0;
    border-color: #ebebeb;
    background-color: #fff;
    border-left: 0; }
.default__block-search.search-filter {
  padding: 1rem;
  background-color: #EDEDED; }
.default__block-search .nav.nav-pills {
  background-color: #fff; }
  .default__block-search .nav.nav-pills .nav-item {
    border-radius: 0;
    padding: 1rem 2rem;
    text-transform: uppercase; }

/**
 * Article Content Block
 */
.default__block-article-content {
  background-color: #fff;
  padding: 2rem; }
  @media (max-width: 767px) {
    .default__block-article-content {
      padding: 1rem; } }
  .default__block-article-content .block-header {
    margin-bottom: 1.5rem; }
    .default__block-article-content .block-header .block-title {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.4; }
    .default__block-article-content .block-header .block-description {
      color: #676767; }
  .default__block-article-content .block-footer {
    padding: 1rem 0; }
    .default__block-article-content .block-footer .article-tags {
      margin-bottom: 1.5rem; }
      .default__block-article-content .block-footer .article-tags a {
        padding: .3rem .8rem;
        margin-bottom: .2rem;
        background-color: #57CAFF;
        display: inline-block;
        border-radius: 4px;
        color: #004768;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .default__block-article-content .block-footer .article-tags a:hover {
          color: #fff; }

/**
 * Article Aside Block
 */
.default__block-article-aside .block-body {
  padding: 1rem; }

/**
 * Buttons
 */
.default__btn-primary {
  color: #fff;
  background-color: #0084E0;
  border-radius: 3px;
  cursor: pointer;
  padding: .8rem 1.5rem; }
  .default__btn-primary:hover {
    color: #fff;
    background-color: #0066ad; }

.default__btn-cart-remove {
  background-color: transparent;
  color: #676767;
  padding: 0;
  cursor: pointer;
  line-height: 2; }
  .default__btn-cart-remove:before {
    font-family: "FontAwesome";
    content: "\f014";
    margin-right: .5em; }
  .default__btn-cart-remove:hover {
    color: #f00; }

.default__btn-cart-destroy {
  color: #E00000;
  border: 1px solid #E00000;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: .8rem 1.5rem; }
  .default__btn-cart-destroy:hover {
    color: #ad0000;
    border: 1px solid #ad0000; }

.default__btn-checkout {
  background-color: #E00000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  padding: .8rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .default__btn-checkout:hover {
    color: #fff;
    background-color: #ad0000; }

.default__btn-coupon-check {
  padding: .8em;
  background-color: #E00000;
  color: #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0; }
  .default__btn-coupon-check:hover {
    color: #fff;
    background-color: #ad0000; }

.default__continue-buy {
  padding: 1rem 2rem;
  background-color: #0084E0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: 300; }
  .default__continue-buy:hover {
    color: #fff;
    background-color: #0066ad; }

.default__single_btn-add-to-cart {
  background-color: #E00000;
  color: #fff;
  border-radius: 2px;
  padding: .8rem;
  max-width: 15rem;
  cursor: pointer;
  font-weight: 300; }
  .default__single_btn-add-to-cart:hover {
    color: #fff;
    background-color: #c70000; }
  @media (max-width: 767px) {
    .default__single_btn-add-to-cart {
      max-width: 100%; } }

.default__single_btn-add-to-wishlist {
  padding: 0;
  line-height: 2;
  color: #C1C1C1;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer; }
  .default__single_btn-add-to-wishlist:hover, .default__single_btn-add-to-wishlist.checked {
    color: #E9008F; }

.default__btn-remove-wish-item {
  padding: 0;
  color: #E00000;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 30px;
  z-index: 90;
  width: 30px;
  height: 30px;
  line-height: 1;
  border: 1.5px solid #E00000;
  border-radius: 50%;
  opacity: .7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }
  .default__btn-remove-wish-item:hover {
    opacity: 1; }

/**
 * Custom Control
 */
.default__quantity-custom {
  padding: .5rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #dedede; }

/**
 * -------------
 * Option
 */
.edit-option:before {
  width: 100%;
  content: "\f040";
  font-family: "FontAwesome";
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem; }
.edit-option.img {
  position: relative;
  float: left;
  margin-left: 1em;
  margin-top: -3em;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.3em;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .edit-option.img:hover {
    background-color: rgba(0, 0, 0, 0.5); }

/**
 * Product Item
 */
.default__product-item {
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }
  .default__product-item .product-thumbnail {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dedede; }
    .default__product-item .product-thumbnail img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-height: 100%;
      max-width: 100%; }
  .default__product-item .product-info {
    padding: 0; }
    .default__product-item .product-info .product-name {
      margin: .5em auto;
      max-height: 3rem;
      overflow: hidden; }
      .default__product-item .product-info .product-name a {
        color: #676767; }
    .default__product-item .product-info .product-price {
      margin: .5em auto;
      color: #f00;
      font-weight: 600; }
      .default__product-item .product-info .product-price .product-sale-of {
        font-size: 12px;
        font-weight: 500;
        color: #686871; }

/**
 * Article Item
 */
.default__article-item {
  display: flex;
  margin-bottom: 1.5rem; }
  .default__article-item .article-thumbnail {
    margin-right: 1rem; }
    .default__article-item .article-thumbnail img {
      width: 150px;
      max-width: 150px; }
      @media (max-width: 767px) {
        .default__article-item .article-thumbnail img {
          max-width: 100px; } }
  .default__article-item .article-info .article-title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    line-height: 1.4; }
    @media (max-width: 767px) {
      .default__article-item .article-info .article-title {
        font-size: 1rem;
        margin-bottom: 0; }
        .default__article-item .article-info .article-title a {
          color: #000;
          font-weight: 500; } }
  .default__article-item .article-info .article-description {
    line-height: 1.7; }
    @media (max-width: 767px) {
      .default__article-item .article-info .article-description {
        display: none; } }
  .default__article-item .article-info time {
    font-size: .9rem;
    font-style: italic;
    color: #676767; }
    .default__article-item .article-info time:before {
      font-family: "FontAwesome";
      content: "\f017";
      margin-right: .4rem;
      font-style: normal; }
  .default__article-item.small-article-item .article-thumbnail img {
    max-width: 100px; }
  .default__article-item.small-article-item .article-info .article-title {
    font-size: 1rem; }
    .default__article-item.small-article-item .article-info .article-title a {
      color: #000;
      font-weight: 500; }

/**
 * Margin Block
 */
.default__block-single.single-related,
.default__block-single.single-specifications,
.default__block-single.single-description {
  margin-bottom: 3rem; }

.default__block-single.single-about,
.default__block-feature-article,
.default__block-related-article,
.default__block-article-content,
.default__block-articles,
.default__block-products,
.default__block-page-content,
.default__block-cart,
.default__block-empty-cart,
.default__block-auth,
.default__block-order-history,
.default__block-user-profile,
.default__block-wishlist,
.default__block-user-aside,
.default__block-search {
  margin-top: 3rem;
  margin-bottom: 3rem; }

/*# sourceMappingURL=default.css.map */
