@import "particles/variables";
@import "particles/mixins";
/**
 * ---------------
 * Mobile Navigaion
 */
nav.navigation.nav-mobile{
    background-color: $primary;
    justify-content: space-between;
    display: flex;
    color: #fff;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-left: .8em;
    padding-right: .8em;
    box-shadow: 0 0 10px 0 $dark;

    .left{
        align-self: center;

        button{
            border: 0;
            background-color: transparent;
            color: #fff;
            padding: 0;

            svg {
                color: #fff;
                vertical-align: middle;
            }
        }
    }
    .center{
        align-self: center;

        img{
            max-width: 230px;
            max-height: 35px;
            -webkit-filter: 
                    drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                    drop-shadow(-1px -1px 0 white);

                filter: 
                    drop-shadow(1px 1px 0 white) 
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                    drop-shadow(-1px -1px 0 white);
        }
    }
    .right{
        align-self: center;
        display: flex;

        a{
            display: flex;
            color: #fff;
            align-items: center;
            padding-right: .6em;
            position: relative;

            img{
                max-width: 25px;
                max-height: 25px;
            }
            .cart_count{
                position: absolute;
                top: -4px;
                right: 0;
                background-color: #F00000;
                color: #fff;
                padding: .1em .5em;
                border-radius: 50%;
                font-weight: 600;
                font-size: 0.8rem;
            }
        }
    }
    @include miw-lg{
        display: none;
    }
}

/**
 * -------------
 * Mobile Toggle Menu
 */
#nav-toggle{
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    margin-left: -250px;
    margin-right: 1px;
    position: fixed;
    top: 0;
    z-index: 999;
    @include transition(0.3s);

    .top{
        padding: .5em;
        background-color: $primary;
        text-align: center;

        img{
            max-height: 45px;
            max-width: 100%;
            -webkit-filter: drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                        drop-shadow(-1px -1px 0 white);

                filter: drop-shadow(1px 1px 0 white) 
                    drop-shadow(-1px 1px 0 white)
                    drop-shadow(1px -1px 0 white)
                        drop-shadow(-1px -1px 0 white);
        }
    }
    form{
        width: -webkit-fill-available;
        width: -moz-available;
        align-self: center;
        background-color: $primary;
        padding: 0 1em .5em 1em;

        .form-group{
            margin-bottom: 0;

            input{
                border-radius: 5px 0 0 5px;
                padding: .7em 0 .7em 1em;
                height: unset;
                border: 0;
                background-color: #fff;
                color: $dark;
                font-size: .9em;
                width: 100%;
            }
            button{
                border-radius: 0 5px 5px 0;
                padding: .5em .7em;
                height: inherit;
                box-shadow: none;
                border: 0;
                background-color: #fff;
                color: $dark;

                svg{
                    vertical-align: middle;
                }
            }
        }
    }
    .middle{
        .nav{
            background-color: $primary;
            color: #fff;

            .nav-item{
                background-color: darken($primary, 5%);

                .nav-link{
                    padding: .4em;
                    color: #fff;
                    @include transition(0.2s);

                    svg{
                        vertical-align: middle;
                    }
                }
                .nav-link.active {
                    color: $primary;
                    background-color: #fff;
                    border: 0;
                    border-radius: 0;
                }
            }
            .nav-item.close-nav{
                max-width: 40px;
                background-color: $primary;

                svg{
                    animation: snake 5s 2s infinite;
                }
            }
        }
        .tab-content{
            .tab-pane{
                padding: 0 1em;
                
                .auth{
                    padding: 1em 0;
                    border-bottom: 1px solid $light;
                    img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                        border: 1px solid #dedede;
                    }
                    .media-body{
                        align-self: center;
                        color: #dedede;
                        font-size: .9rem;

                        .auth-name{
                            margin: 0;
                            font-size: 1rem;
                            color: $dark;
                        }
                    }
                }
                .item{
                    > a{
                        padding: .7em;
                        display: block;
                        color: $dark;
                        border-bottom: 1px solid $light;
                    }
                    > ul{
                        list-style: none;
                        margin-bottom: 0;
                        background-color: $light;
                        padding-left: 2.6em;
                        padding-right: 1em;
                        margin-left: -1em;
                        margin-right: -1em;

                        > li{
                            > a{
                                color: $dark;
                                padding: .5em;
                                display: block;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                }
                .item:last-child{
                    > a{
                        border: 0;
                    }
                }
            }
        }
    }
}
#nav-toggle.open{
    margin-left: 0;
    box-shadow: 0 0 10px 0 $dark;
}

/**
 * -------------
 * Viewport
 */
#viewport{
    width: 100%;
    @include transition(0.3s);
    @include maw-md{
        padding-top: 45px;
    }
    @include miw-lg{
        padding-top: 0;
    }
}
#viewport.slide{
    margin-left: 250px;
}

/**
 * -----------
 * Overlay
 */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    @include transition(0.3s);
}
.overlay.show{
    visibility: visible;
    opacity: 1;
}