/**
 * --------
 * Responsive
 */
/*
 * Mixins
 */
/**
 * ---------------
 * Mobile Navigaion
 */
nav.navigation.nav-mobile {
  background-color: #0084E0;
  justify-content: space-between;
  display: flex;
  color: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: .8em;
  padding-right: .8em;
  box-shadow: 0 0 10px 0 #676767; }
  nav.navigation.nav-mobile .left {
    align-self: center; }
    nav.navigation.nav-mobile .left button {
      border: 0;
      background-color: transparent;
      color: #fff;
      padding: 0; }
      nav.navigation.nav-mobile .left button svg {
        color: #fff;
        vertical-align: middle; }
  nav.navigation.nav-mobile .center {
    align-self: center; }
    nav.navigation.nav-mobile .center img {
      max-width: 230px;
      max-height: 35px;
      -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
      filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white); }
  nav.navigation.nav-mobile .right {
    align-self: center;
    display: flex; }
    nav.navigation.nav-mobile .right a {
      display: flex;
      color: #fff;
      align-items: center;
      padding-right: .6em;
      position: relative; }
      nav.navigation.nav-mobile .right a img {
        max-width: 25px;
        max-height: 25px; }
      nav.navigation.nav-mobile .right a .cart_count {
        position: absolute;
        top: -4px;
        right: 0;
        background-color: #F00000;
        color: #fff;
        padding: .1em .5em;
        border-radius: 50%;
        font-weight: 600;
        font-size: 0.8rem; }
  @media (min-width: 992px) {
    nav.navigation.nav-mobile {
      display: none; } }

/**
 * -------------
 * Mobile Toggle Menu
 */
#nav-toggle {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  margin-left: -250px;
  margin-right: 1px;
  position: fixed;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #nav-toggle .top {
    padding: .5em;
    background-color: #0084E0;
    text-align: center; }
    #nav-toggle .top img {
      max-height: 45px;
      max-width: 100%;
      -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
      filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white); }
  #nav-toggle form {
    width: -webkit-fill-available;
    width: -moz-available;
    align-self: center;
    background-color: #0084E0;
    padding: 0 1em .5em 1em; }
    #nav-toggle form .form-group {
      margin-bottom: 0; }
      #nav-toggle form .form-group input {
        border-radius: 5px 0 0 5px;
        padding: .7em 0 .7em 1em;
        height: unset;
        border: 0;
        background-color: #fff;
        color: #676767;
        font-size: .9em;
        width: 100%; }
      #nav-toggle form .form-group button {
        border-radius: 0 5px 5px 0;
        padding: .5em .7em;
        height: inherit;
        box-shadow: none;
        border: 0;
        background-color: #fff;
        color: #676767; }
        #nav-toggle form .form-group button svg {
          vertical-align: middle; }
  #nav-toggle .middle .nav {
    background-color: #0084E0;
    color: #fff; }
    #nav-toggle .middle .nav .nav-item {
      background-color: #0075c7; }
      #nav-toggle .middle .nav .nav-item .nav-link {
        padding: .4em;
        color: #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        #nav-toggle .middle .nav .nav-item .nav-link svg {
          vertical-align: middle; }
      #nav-toggle .middle .nav .nav-item .nav-link.active {
        color: #0084E0;
        background-color: #fff;
        border: 0;
        border-radius: 0; }
    #nav-toggle .middle .nav .nav-item.close-nav {
      max-width: 40px;
      background-color: #0084E0; }
      #nav-toggle .middle .nav .nav-item.close-nav svg {
        animation: snake 5s 2s infinite; }
  #nav-toggle .middle .tab-content .tab-pane {
    padding: 0 1em; }
    #nav-toggle .middle .tab-content .tab-pane .auth {
      padding: 1em 0;
      border-bottom: 1px solid #f9fafb; }
      #nav-toggle .middle .tab-content .tab-pane .auth img {
        max-height: 40px;
        max-width: 40px;
        border-radius: 50%;
        border: 1px solid #dedede; }
      #nav-toggle .middle .tab-content .tab-pane .auth .media-body {
        align-self: center;
        color: #dedede;
        font-size: .9rem; }
        #nav-toggle .middle .tab-content .tab-pane .auth .media-body .auth-name {
          margin: 0;
          font-size: 1rem;
          color: #676767; }
    #nav-toggle .middle .tab-content .tab-pane .item > a {
      padding: .7em;
      display: block;
      color: #676767;
      border-bottom: 1px solid #f9fafb; }
    #nav-toggle .middle .tab-content .tab-pane .item > ul {
      list-style: none;
      margin-bottom: 0;
      background-color: #f9fafb;
      padding-left: 2.6em;
      padding-right: 1em;
      margin-left: -1em;
      margin-right: -1em; }
      #nav-toggle .middle .tab-content .tab-pane .item > ul > li > a {
        color: #676767;
        padding: .5em;
        display: block;
        border-bottom: 1px solid #fff; }
    #nav-toggle .middle .tab-content .tab-pane .item:last-child > a {
      border: 0; }

#nav-toggle.open {
  margin-left: 0;
  box-shadow: 0 0 10px 0 #676767; }

/**
 * -------------
 * Viewport
 */
#viewport {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 991px) {
    #viewport {
      padding-top: 45px; } }
  @media (min-width: 992px) {
    #viewport {
      padding-top: 0; } }

#viewport.slide {
  margin-left: 250px; }

/**
 * -----------
 * Overlay
 */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.overlay.show {
  visibility: visible;
  opacity: 1; }

/*# sourceMappingURL=mobilebar.css.map */
