@import "particles/mixins";
@import "particles/variables";
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-color: #fff; 

	// START - CUSTOME MOBILE BAR
	#nav-toggle form .form-group input{
		width: auto;
	}
	// END - CUSTOME MOBILE BAR
}

/* START HEADER */ 
header{
	.header-top{
		background-color: $blue;
		padding: 5px 0px;
		padding-bottom: 47px;
		margin-bottom: -42px;
		.block-left{
			.item{
				width: 27px;
				height: 27px;
				border: 1px solid #fff;
				border-radius: 50%;
				display: inline-block;
				text-align: center;
				a{
					color: #fff;
					i{
						line-height: 27px;
					}
				}
			}
		}
		.block-right{
			a{
				color: #fff;
				line-height: 27px;
			}
			span{
				padding: 0px 10px;
				color: #fff;
			}
		}
	}
	.header-bottom{
		box-shadow: 0px 2px 18px #888888;
		.block-left{
			position: relative;
			img{
				z-index: 9999;
				position: relative;
			}
			.skew{
				position: absolute;
				background-color: #fff;
				width: 182px;
				height: 82px;
				transform: skew(-15deg);
				top:0;
				right: -15px;
				z-index: 1;
			}
		}
		.block-right{
			background-color: $light-blue;
			align-items:center;
			width: 100%;
			.search-bar{
				padding-left: 75px;
				.input-group{
					width: 150%;
					@include miw-lg{
						width: 120%;
					}
					@include miw-xl{
						width: 150%;
					}
					.input-group-prepend{
						.btn{
							background-color: $blue;
							border-color: #ced4da;
							font-size: 14px;
							color: #fff;
						}
					}
					.input-group-append{
						.btn{
							background-color: #ffffff;
							border-color: #ced4da;
							i{
								color: #828282;
							}
						}
					}
				}
			}
			.cart{
				padding: 0px 30px;
				position: relative;
				.cart-popup{
					width: 23px;
					line-height: 23px;
					background-color: #fff;
					position: absolute;
					border-radius: 50%;
					top: -8px;
					right: 20px;
					text-align: center;
					color: #ff0000;
				}
			} 
		}
	}
}
/* END HEADER */

/* START MAIN */
main{

	/*
	 * START Info Product
	 */
	.page-info-product{
		.block-info-product{
			.xzoom-container{
				position: relative;
				.xzoom-thumbs{
					top:0;
					left:0;
					position: absolute;
					display: inline-grid;
					background-color: rgba(0,0,0,0.2);
					padding: 5px;
					align-content: start;
					z-index: 999;
					.xzoom-gallery{
						margin: 0px;
						margin-bottom: 5px;
						border-radius: 4px;	
					}
				}
			}
			.name-product{
				.status{
				font-size: 13px;
				}
			}
			.price-product{
				.price-now{
					color: #f00;
					font-size: 17px;
				}
			} 
			.form-group{
				.custom-number{
					width: 120px;
					.input-group{
						.input-group-btn{
							.btn{
								border-radius: 0;
								background-color: #676767;
								color: #fff;
								padding: 0px 12px;
								@include maw-sm{
									padding: 5px 15px;
								}
							}
						}
						input{
							text-align: center;
							width: 35%;
							font-size: 13px;
							border: 1px solid #c2c2c2;
							border-left:0;
							border-right: 0;
						}
					}
				}
				.add-to-cart{
					.btn{
						background-color: $primary;
						color: #fff;
					}
				}
			}
		}
		.card-item{
			border: 1px solid #c2c2c2;
			border-radius: 5px;
			.card-content{
					padding: 10px;
			}
		}
		.block-content-product{

			.block-header{
				.block-title{
					// @include font-title(#676767);
				}
				.block-content{
					p{
						text-align: justify;
					}
				}
			}
		}
	}
	/*
	 * END Info Product
	 */

	/*
	 * START Product Item
	 */
	 .product-item{
	 	margin-bottom: 15px;
	 	.product-img{  
	 		@include card-img-format(100%,none);
	 	}
	 	.percent-sale{
	 		width: 64px;
	 		height: 31px;
	 		margin-top: -50px;
	 		margin-left: -6px;
	 		position: absolute; 
	 		background-image: url('/images/content/products/icon-percent-sale.png');
	 		background-repeat: no-repeat;
	 		color: #fff;
	 		text-align: center;
	 		vertical-align: middle;
	 		padding-top: 2px;
	 	}
	 	.product-name{
	 		padding: 10px 15px;
	 		margin-bottom: 0;
	 		a{
	 			color: #676767;
	 			text-decoration: none;
	 		}
	 	}
	 	.product-price{
	 		padding-left: 15px;
	 		.price-sale{
	 			font-weight: bold;
	 			color: #ff0000;
	 			font-size: 17px;
	 		}
	 		.price-old{
	 			text-decoration: line-through;							
	 			color: #676767;
	 			font-size: 13px;
	 			color: #676767;
	 			padding-left: 5px;
	 		}
	 	}
	 	.product-rate{
	 		padding-left: 15px;
	 		padding-top: 5px;
	 		padding-bottom: 5px;
	 		.fa{
	 			color: #ffea00;
	 		}
	 	}
	 	&:hover{
	 		box-shadow: 0px 1px 20px #8d8d8d;
	 	}
	 }
	/*
	 * END Product Item
	 */
	

	/*
	 * START News Item
	 */
	 .article-item{
	 	margin-bottom: 15px;
	 	.article-img{
	 		@include card-img-format(69%,none);
	 	}
	 	.article-name{
	 		a{
	 			font-size: 16px;
	 			font-weight: bold;
	 			color: #676767;
	 			text-decoration: none;
	 		}
	 		margin-bottom: 5px;
	 	}
	 	.article-content{
	 		font-size: 13px;
	 		color: #676767;
	 		text-align: justify;
	 	}
	 }
	/*
	 * END News Item
	 */

	.home-category{
		.block-title{
			line-height: 50px;
			background-color: $light-blue;
			color: #fff;
			font-size: 18px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			.bar{
				margin: 2px 10px 0px 20px;
				i{
					font-size: 23px;
				}
			}
		}
		.block-content{
			ul{
				padding-left: 0;
				list-style-type: none;
				border-left: 1px solid #ececec;
				border-right: 1px solid #ececec;
				li{
					border-bottom: 1px solid #ececec;
					// line-height: 38px;
					a{
						position: relative;
						// padding-left: 42px;
						line-height: 39px;
						color: #676767;
						font-weight: bold;
						text-decoration: none;
						font-size: 13px;
						&:hover{
							color: #189eff;
						}
						.icon-wrap{
							padding: 0px 20px;
						}
					}
				}
			}
		}
	}
	.home-banner{
		.block-top{
			height: 50px;
			.item{
				font-size: 13px;
				a{
					text-decoration: none;
					color: #676767;
				}  
				.delivery-2h{
					margin-right: 80px;
					.icon-2h{
						background-image: url('/images/content/main/icon_2h.png');
						background-repeat: no-repeat;
						width: 28px;
						height: 23px;
						display: block;
						float: left;
						margin-top: 8px;
						margin-right:7px;
					}
				}
				.real-100{
					margin-right: 80px;
					.icon-100{
						background-image: url('/images/content/main/icon_100.png');
						background-repeat: no-repeat;
						width: 28px;
						height: 25px;
						display: block;
						float: left;
						margin-top: 5px;
					}
				}
				.support{
					margin-right: 50px;
					.icon-support{
						background-image: url('/images/content/main/icon_support.png');
						background-repeat: no-repeat;
						width: 28px;
						height: 25px;
						display: block;
						float: left;
						margin-top: 8px;
						margin-right:7px;
					}
				}
			}
		}
		.block-slider{
			.owl-carousel{
				.owl-dots{
					justify-content:center;
					position: absolute;
					bottom: 20px;
					left: 42%;
					.owl-dot{
						&.active{
							span{
								background-color: #fd781a;
							}
						}
						span{
							width: 15px;
							height: 15px;
							background-color: #fff;
							display: block;
							border: 2px solid #fd781a; 
							margin: 0px 7px;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
	.block-policy{
		padding-top: 20px;
		padding-bottom: 20px; 
		.item{
			text-align: center;
			font-weight: bold;
			color: #676767;
			align-self: flex-end;
			img{
				padding-bottom: 10px;				
			}
		}
	}
	.block-main-primary{
		background-image: url('/images/content/main/background.jpg');
		.block-primary{
			.block-header{
				background-color: #fff;
				.navigat{
					border-bottom: 1px solid #e5e5e5;
					.block-title{
						width: 30%;
						line-height: 36px;
						font-size: 15px;
						color: #676767;
						@include maw-lg{
							width: 100%;
						}
						img{
							margin: 0px 5px 5px 10px;
						}
					}
					.block-content{
						width: 50%;
						.nav-tabs{
							border-bottom: none;
						}
					}
				}
				.nav{
					border-bottom: 1px solid #e5e5e5;
					.nav-title{
						padding: 10px 0px;
						padding-left: 15px;
						font-size: 15px;
						color: #676767;
						img{
							margin: 0px 5px 5px 10px;
						}
					}
					.nav-item{
						margin-bottom: 0px;
						float: right;
						@include maw-lg{
							display: none;
						}
						a{
							color: #676767;
							span{
								padding: 0px 15px; 
							}
							&.active{
							color: $light-blue;
							}
							span{
								color: #d4d4d4;
							}
						}
					}
					.nav-link{
						line-height: 38px;
						padding: 0;
						border: none;
					}
				}
			}
		}
		.block-body{
			.block-products{
				background-color: #fff;
				.owl-carousel{
					.owl-item{
						padding: 15px 0px;
						img{
							width: auto;
						}
					}
					.owl-nav{
						position: absolute;
						top: 32%;
						width: 100%;
						.owl-prev{
							position: absolute;
							left: 10px;
							width: 40px;
							height: 40px;
							background-color: #F8F8F8;
							border-radius: 50%;
							i{
								color: #BEBEBE;
								text-align: center;
								line-height: 40px;
							}
							&:hover{
								background-color: #e5e5e5;
								i{
									color: #686868;
								}
							}
						}
						.owl-next{
							position: absolute;
							right: 10px;
							width: 40px;
							height: 40px;
							background-color: #F8F8F8;
							border-radius: 50%;
							i{
								color: #BEBEBE;
								text-align: center;
								line-height: 40px;
							}
							&:hover{
								background-color: #e5e5e5;
								i{
									color: #686868;
								}
							}
						}
					}
				}
			}
		}
		.btn-see{
			.btn{
				color: #189eff;
				border: 1px solid #189eff;
				background-color: #fff;
				padding: 6px 25px;
				font-size: 13px;
			}
		}
	}
	// START PAGINATION
	.pagination{
		padding-top: 30px;
		padding-bottom: 10px;
		.page-item{
			.page-link{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				line-height: 35px;
				padding: 0;
				margin:0px 5px;
			}
		}
	}
	// END PAGINATION
	
	// START PAGE NEWS
	.page-news{
	}
	// END PAGE NEWS
	// 
	.block-avertise{
		padding: 15px 0px;
		.avertise-img{
			@include card-img-format(30%,none);
			@include maw-lg{
				img{
					width: 100%;
				}
			}
		}
	}
}
/* END MAIN */

/* START FOOTER */
footer{
	.footer-top{
		background-color: $light-blue;
		padding: 30px 0px;
		.registe-news{
			color: #fff;
			background-image: url('/images/content/footer/icon-registe-news.png');
			background-repeat: no-repeat;
			padding-left: 75px;
			.block-title{
				font-weight: bold;
			}
			.block-content{
				padding-top: 5px;
			}
		}
		form{
			.input-group{
				width: 180%;
				margin-left: 80px;
				margin-top: 17px;
				input{
					border-radius: 0.25rem !important;
					margin-right: 5px;
					border: none;
				}
				@include miw-sm{
					width: 70%;
				}
				@include miw-lg{
					width: 130%;
				}
				@include miw-xl{
					width: 190%;
				}
				.input-group-btn{
					.btn{
						background-color: #1d71ab;
						color: #fff;
						border: none;
						&:hover{
							background-color: #4169E1;
						}
					}
				}
			}
		}
	} 
	.footer-middle{
		.item{
			padding-top:50px;
			padding-bottom: 10px;
			height: 100%;
			@include maw-md{
				padding-top:20px;
				padding-bottom: 0px;
			}
			&.line-right{
				@include miw-xl{
					border-right: 1px solid #f3f3f3; 
				}
			}
			.block-title{
				font-weight: bold;
				color: #676767;
				font-size: 15px;
			}
			ul{
				list-style-type: none;
				padding-left: 0;
				padding-top: 20px;
				li{
					line-height: 2;
					a{
						color: #676767;
						text-decoration: none;
						&:hover{
							color: $light-blue;
						}
					}
				}
			}
		}
		.block-link-facebook{
			padding-top: 30px;
		}
	}
	.footer-bottom{
		background-image: url('/images/content/main/background.jpg');
		padding: 20px 0px;
		.block-top{
			.block-right{
				.block-title{
					color: #676767;
					font-weight: bold;
					font-size: 15px;
					padding-bottom: 2px;
				}
				.block-content{
					ul{
						padding-left: 0;
						list-style-type: none;
						margin:0;
						li{
							color: #676767;
							line-height: 2;
							display: block;
							@include miw-md{
								display: flex;
							}
							strong{
								width: 75px; 
							}
						}
					}
				}
			}
			.block-left{
				margin-top: 10px;
				@include miw-xl{
					margin-top: 35px;
				}
				img{
					padding-right: 10px;
				}
			}
		}
		hr{
			margin: 10px 0px;
		}
		.block-bottom{
			color: #676767;
		}
	}
}
.block-cart{
	.table-bordered td, .table-bordered th{
		border: 0;
	}
	.table-bordered tr:not(:last-child) td{
		border-bottom: 1px solid #e9ecef;
	}
}
/* END FOOTER */