/**
 * --------
 * Responsive
 */
/*
 * Mixins
 */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fff; }
  body #nav-toggle form .form-group input {
    width: auto; }

/* START HEADER */
header .header-top {
  background-color: #1d71ab;
  padding: 5px 0px;
  padding-bottom: 47px;
  margin-bottom: -42px; }
  header .header-top .block-left .item {
    width: 27px;
    height: 27px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center; }
    header .header-top .block-left .item a {
      color: #fff; }
      header .header-top .block-left .item a i {
        line-height: 27px; }
  header .header-top .block-right a {
    color: #fff;
    line-height: 27px; }
  header .header-top .block-right span {
    padding: 0px 10px;
    color: #fff; }
header .header-bottom {
  box-shadow: 0px 2px 18px #888888; }
  header .header-bottom .block-left {
    position: relative; }
    header .header-bottom .block-left img {
      z-index: 9999;
      position: relative; }
    header .header-bottom .block-left .skew {
      position: absolute;
      background-color: #fff;
      width: 182px;
      height: 82px;
      transform: skew(-15deg);
      top: 0;
      right: -15px;
      z-index: 1; }
  header .header-bottom .block-right {
    background-color: #189eff;
    align-items: center;
    width: 100%; }
    header .header-bottom .block-right .search-bar {
      padding-left: 75px; }
      header .header-bottom .block-right .search-bar .input-group {
        width: 150%; }
        @media (min-width: 992px) {
          header .header-bottom .block-right .search-bar .input-group {
            width: 120%; } }
        @media (min-width: 1200px) {
          header .header-bottom .block-right .search-bar .input-group {
            width: 150%; } }
        header .header-bottom .block-right .search-bar .input-group .input-group-prepend .btn {
          background-color: #1d71ab;
          border-color: #ced4da;
          font-size: 14px;
          color: #fff; }
        header .header-bottom .block-right .search-bar .input-group .input-group-append .btn {
          background-color: #ffffff;
          border-color: #ced4da; }
          header .header-bottom .block-right .search-bar .input-group .input-group-append .btn i {
            color: #828282; }
    header .header-bottom .block-right .cart {
      padding: 0px 30px;
      position: relative; }
      header .header-bottom .block-right .cart .cart-popup {
        width: 23px;
        line-height: 23px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: -8px;
        right: 20px;
        text-align: center;
        color: #ff0000; }

/* END HEADER */
/* START MAIN */
main {
  /*
   * START Info Product
   */
  /*
   * END Info Product
   */
  /*
   * START Product Item
   */
  /*
   * END Product Item
   */
  /*
   * START News Item
   */
  /*
   * END News Item
   */ }
  main .page-info-product .block-info-product .xzoom-container {
    position: relative; }
    main .page-info-product .block-info-product .xzoom-container .xzoom-thumbs {
      top: 0;
      left: 0;
      position: absolute;
      display: inline-grid;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 5px;
      align-content: start;
      z-index: 999; }
      main .page-info-product .block-info-product .xzoom-container .xzoom-thumbs .xzoom-gallery {
        margin: 0px;
        margin-bottom: 5px;
        border-radius: 4px; }
  main .page-info-product .block-info-product .name-product .status {
    font-size: 13px; }
  main .page-info-product .block-info-product .price-product .price-now {
    color: #f00;
    font-size: 17px; }
  main .page-info-product .block-info-product .form-group .custom-number {
    width: 120px; }
    main .page-info-product .block-info-product .form-group .custom-number .input-group .input-group-btn .btn {
      border-radius: 0;
      background-color: #676767;
      color: #fff;
      padding: 0px 12px; }
      @media (max-width: 767px) {
        main .page-info-product .block-info-product .form-group .custom-number .input-group .input-group-btn .btn {
          padding: 5px 15px; } }
    main .page-info-product .block-info-product .form-group .custom-number .input-group input {
      text-align: center;
      width: 35%;
      font-size: 13px;
      border: 1px solid #c2c2c2;
      border-left: 0;
      border-right: 0; }
  main .page-info-product .block-info-product .form-group .add-to-cart .btn {
    background-color: #0084E0;
    color: #fff; }
  main .page-info-product .card-item {
    border: 1px solid #c2c2c2;
    border-radius: 5px; }
    main .page-info-product .card-item .card-content {
      padding: 10px; }
  main .page-info-product .block-content-product .block-header .block-content p {
    text-align: justify; }
  main .product-item {
    margin-bottom: 15px; }
    main .product-item .product-img {
      border-radius: 0;
      border: none;
      overflow: hidden;
      position: relative;
      padding-bottom: 100%; }
      main .product-item .product-img img {
        position: absolute;
        max-height: 100%;
        margin: 0 auto;
        left: -50%;
        right: -50%; }
    main .product-item .percent-sale {
      width: 64px;
      height: 31px;
      margin-top: -50px;
      margin-left: -6px;
      position: absolute;
      background-image: url("/images/content/products/icon-percent-sale.png");
      background-repeat: no-repeat;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding-top: 2px; }
    main .product-item .product-name {
      padding: 10px 15px;
      margin-bottom: 0; }
      main .product-item .product-name a {
        color: #676767;
        text-decoration: none; }
    main .product-item .product-price {
      padding-left: 15px; }
      main .product-item .product-price .price-sale {
        font-weight: bold;
        color: #ff0000;
        font-size: 17px; }
      main .product-item .product-price .price-old {
        text-decoration: line-through;
        color: #676767;
        font-size: 13px;
        color: #676767;
        padding-left: 5px; }
    main .product-item .product-rate {
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px; }
      main .product-item .product-rate .fa {
        color: #ffea00; }
    main .product-item:hover {
      box-shadow: 0px 1px 20px #8d8d8d; }
  main .article-item {
    margin-bottom: 15px; }
    main .article-item .article-img {
      border-radius: 0;
      border: none;
      overflow: hidden;
      position: relative;
      padding-bottom: 69%; }
      main .article-item .article-img img {
        position: absolute;
        max-height: 100%;
        margin: 0 auto;
        left: -50%;
        right: -50%; }
    main .article-item .article-name {
      margin-bottom: 5px; }
      main .article-item .article-name a {
        font-size: 16px;
        font-weight: bold;
        color: #676767;
        text-decoration: none; }
    main .article-item .article-content {
      font-size: 13px;
      color: #676767;
      text-align: justify; }
  main .home-category .block-title {
    line-height: 50px;
    background-color: #189eff;
    color: #fff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    main .home-category .block-title .bar {
      margin: 2px 10px 0px 20px; }
      main .home-category .block-title .bar i {
        font-size: 23px; }
  main .home-category .block-content ul {
    padding-left: 0;
    list-style-type: none;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec; }
    main .home-category .block-content ul li {
      border-bottom: 1px solid #ececec; }
      main .home-category .block-content ul li a {
        position: relative;
        line-height: 39px;
        color: #676767;
        font-weight: bold;
        text-decoration: none;
        font-size: 13px; }
        main .home-category .block-content ul li a:hover {
          color: #189eff; }
        main .home-category .block-content ul li a .icon-wrap {
          padding: 0px 20px; }
  main .home-banner .block-top {
    height: 50px; }
    main .home-banner .block-top .item {
      font-size: 13px; }
      main .home-banner .block-top .item a {
        text-decoration: none;
        color: #676767; }
      main .home-banner .block-top .item .delivery-2h {
        margin-right: 80px; }
        main .home-banner .block-top .item .delivery-2h .icon-2h {
          background-image: url("/images/content/main/icon_2h.png");
          background-repeat: no-repeat;
          width: 28px;
          height: 23px;
          display: block;
          float: left;
          margin-top: 8px;
          margin-right: 7px; }
      main .home-banner .block-top .item .real-100 {
        margin-right: 80px; }
        main .home-banner .block-top .item .real-100 .icon-100 {
          background-image: url("/images/content/main/icon_100.png");
          background-repeat: no-repeat;
          width: 28px;
          height: 25px;
          display: block;
          float: left;
          margin-top: 5px; }
      main .home-banner .block-top .item .support {
        margin-right: 50px; }
        main .home-banner .block-top .item .support .icon-support {
          background-image: url("/images/content/main/icon_support.png");
          background-repeat: no-repeat;
          width: 28px;
          height: 25px;
          display: block;
          float: left;
          margin-top: 8px;
          margin-right: 7px; }
  main .home-banner .block-slider .owl-carousel .owl-dots {
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 42%; }
    main .home-banner .block-slider .owl-carousel .owl-dots .owl-dot.active span {
      background-color: #fd781a; }
    main .home-banner .block-slider .owl-carousel .owl-dots .owl-dot span {
      width: 15px;
      height: 15px;
      background-color: #fff;
      display: block;
      border: 2px solid #fd781a;
      margin: 0px 7px;
      border-radius: 50%; }
  main .block-policy {
    padding-top: 20px;
    padding-bottom: 20px; }
    main .block-policy .item {
      text-align: center;
      font-weight: bold;
      color: #676767;
      align-self: flex-end; }
      main .block-policy .item img {
        padding-bottom: 10px; }
  main .block-main-primary {
    background-image: url("/images/content/main/background.jpg"); }
    main .block-main-primary .block-primary .block-header {
      background-color: #fff; }
      main .block-main-primary .block-primary .block-header .navigat {
        border-bottom: 1px solid #e5e5e5; }
        main .block-main-primary .block-primary .block-header .navigat .block-title {
          width: 30%;
          line-height: 36px;
          font-size: 15px;
          color: #676767; }
          @media (max-width: 1199px) {
            main .block-main-primary .block-primary .block-header .navigat .block-title {
              width: 100%; } }
          main .block-main-primary .block-primary .block-header .navigat .block-title img {
            margin: 0px 5px 5px 10px; }
        main .block-main-primary .block-primary .block-header .navigat .block-content {
          width: 50%; }
          main .block-main-primary .block-primary .block-header .navigat .block-content .nav-tabs {
            border-bottom: none; }
      main .block-main-primary .block-primary .block-header .nav {
        border-bottom: 1px solid #e5e5e5; }
        main .block-main-primary .block-primary .block-header .nav .nav-title {
          padding: 10px 0px;
          padding-left: 15px;
          font-size: 15px;
          color: #676767; }
          main .block-main-primary .block-primary .block-header .nav .nav-title img {
            margin: 0px 5px 5px 10px; }
        main .block-main-primary .block-primary .block-header .nav .nav-item {
          margin-bottom: 0px;
          float: right; }
          @media (max-width: 1199px) {
            main .block-main-primary .block-primary .block-header .nav .nav-item {
              display: none; } }
          main .block-main-primary .block-primary .block-header .nav .nav-item a {
            color: #676767; }
            main .block-main-primary .block-primary .block-header .nav .nav-item a span {
              padding: 0px 15px; }
            main .block-main-primary .block-primary .block-header .nav .nav-item a.active {
              color: #189eff; }
            main .block-main-primary .block-primary .block-header .nav .nav-item a span {
              color: #d4d4d4; }
        main .block-main-primary .block-primary .block-header .nav .nav-link {
          line-height: 38px;
          padding: 0;
          border: none; }
    main .block-main-primary .block-body .block-products {
      background-color: #fff; }
      main .block-main-primary .block-body .block-products .owl-carousel .owl-item {
        padding: 15px 0px; }
        main .block-main-primary .block-body .block-products .owl-carousel .owl-item img {
          width: auto; }
      main .block-main-primary .block-body .block-products .owl-carousel .owl-nav {
        position: absolute;
        top: 32%;
        width: 100%; }
        main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-prev {
          position: absolute;
          left: 10px;
          width: 40px;
          height: 40px;
          background-color: #F8F8F8;
          border-radius: 50%; }
          main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-prev i {
            color: #BEBEBE;
            text-align: center;
            line-height: 40px; }
          main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-prev:hover {
            background-color: #e5e5e5; }
            main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-prev:hover i {
              color: #686868; }
        main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-next {
          position: absolute;
          right: 10px;
          width: 40px;
          height: 40px;
          background-color: #F8F8F8;
          border-radius: 50%; }
          main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-next i {
            color: #BEBEBE;
            text-align: center;
            line-height: 40px; }
          main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-next:hover {
            background-color: #e5e5e5; }
            main .block-main-primary .block-body .block-products .owl-carousel .owl-nav .owl-next:hover i {
              color: #686868; }
    main .block-main-primary .btn-see .btn {
      color: #189eff;
      border: 1px solid #189eff;
      background-color: #fff;
      padding: 6px 25px;
      font-size: 13px; }
  main .pagination {
    padding-top: 30px;
    padding-bottom: 10px; }
    main .pagination .page-item .page-link {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      line-height: 35px;
      padding: 0;
      margin: 0px 5px; }
  main .block-avertise {
    padding: 15px 0px; }
    main .block-avertise .avertise-img {
      border-radius: 0;
      border: none;
      overflow: hidden;
      position: relative;
      padding-bottom: 30%; }
      main .block-avertise .avertise-img img {
        position: absolute;
        max-height: 100%;
        margin: 0 auto;
        left: -50%;
        right: -50%; }
      @media (max-width: 1199px) {
        main .block-avertise .avertise-img img {
          width: 100%; } }

/* END MAIN */
/* START FOOTER */
footer .footer-top {
  background-color: #189eff;
  padding: 30px 0px; }
  footer .footer-top .registe-news {
    color: #fff;
    background-image: url("/images/content/footer/icon-registe-news.png");
    background-repeat: no-repeat;
    padding-left: 75px; }
    footer .footer-top .registe-news .block-title {
      font-weight: bold; }
    footer .footer-top .registe-news .block-content {
      padding-top: 5px; }
  footer .footer-top form .input-group {
    width: 180%;
    margin-left: 80px;
    margin-top: 17px; }
    footer .footer-top form .input-group input {
      border-radius: 0.25rem !important;
      margin-right: 5px;
      border: none; }
    @media (min-width: 0) {
      footer .footer-top form .input-group {
        width: 70%; } }
    @media (min-width: 992px) {
      footer .footer-top form .input-group {
        width: 130%; } }
    @media (min-width: 1200px) {
      footer .footer-top form .input-group {
        width: 190%; } }
    footer .footer-top form .input-group .input-group-btn .btn {
      background-color: #1d71ab;
      color: #fff;
      border: none; }
      footer .footer-top form .input-group .input-group-btn .btn:hover {
        background-color: #4169E1; }
footer .footer-middle .item {
  padding-top: 50px;
  padding-bottom: 10px;
  height: 100%; }
  @media (max-width: 991px) {
    footer .footer-middle .item {
      padding-top: 20px;
      padding-bottom: 0px; } }
  @media (min-width: 1200px) {
    footer .footer-middle .item.line-right {
      border-right: 1px solid #f3f3f3; } }
  footer .footer-middle .item .block-title {
    font-weight: bold;
    color: #676767;
    font-size: 15px; }
  footer .footer-middle .item ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 20px; }
    footer .footer-middle .item ul li {
      line-height: 2; }
      footer .footer-middle .item ul li a {
        color: #676767;
        text-decoration: none; }
        footer .footer-middle .item ul li a:hover {
          color: #189eff; }
footer .footer-middle .block-link-facebook {
  padding-top: 30px; }
footer .footer-bottom {
  background-image: url("/images/content/main/background.jpg");
  padding: 20px 0px; }
  footer .footer-bottom .block-top .block-right .block-title {
    color: #676767;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2px; }
  footer .footer-bottom .block-top .block-right .block-content ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0; }
    footer .footer-bottom .block-top .block-right .block-content ul li {
      color: #676767;
      line-height: 2;
      display: block; }
      @media (min-width: 768px) {
        footer .footer-bottom .block-top .block-right .block-content ul li {
          display: flex; } }
      footer .footer-bottom .block-top .block-right .block-content ul li strong {
        width: 75px; }
  footer .footer-bottom .block-top .block-left {
    margin-top: 10px; }
    @media (min-width: 1200px) {
      footer .footer-bottom .block-top .block-left {
        margin-top: 35px; } }
    footer .footer-bottom .block-top .block-left img {
      padding-right: 10px; }
  footer .footer-bottom hr {
    margin: 10px 0px; }
  footer .footer-bottom .block-bottom {
    color: #676767; }

.block-cart .table-bordered td, .block-cart .table-bordered th {
  border: 0; }
.block-cart .table-bordered tr:not(:last-child) td {
  border-bottom: 1px solid #e9ecef; }

/* END FOOTER */

/*# sourceMappingURL=style.css.map */
