.btn{
    cursor: default;

    &.focus,
    &:focus{
        outline: none;
    }

    /**
     * Style
     */
    &.btn-primary {
        color: #ffffff;
        background-color: $primary;
        border-color: $primary;

        &:hover {
        	background-color: darken($primary, 5%);
        	border-color: darken($primary, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($primary, 5%);
            border-color: darken($primary, 5%);
        }
    }
    &.btn-secondary {
        color: #ffffff;
        background-color: $secondary;
        border-color: $secondary;

        &:hover {
            background-color: darken($secondary, 5%);
            border-color: darken($secondary, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($secondary, 5%);
            border-color: darken($secondary, 5%);
        }
    }
    &.btn-info {
        color: #ffffff;
        background-color: $info;
        border-color: $info;

        &:hover {
        	background-color: darken($info, 10%);
        	border-color: darken($info, 10%);
        }
        &.active, 
        &:active{
            background-color: darken($info, 5%);
            border-color: darken($info, 5%);
        }
    }
    &.btn-success {
        color: #ffffff;
        background-color: $success;
        border-color: $success;

        &:hover {
            background-color: darken($success, 5%);
            border-color: darken($success, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($success, 5%);
            border-color: darken($success, 5%);
        }
    }
    &.btn-warning {
        color: #ffffff;
        background-color: $warning;
        border-color: $warning;

        &:hover {
            background-color: darken($warning, 5%);
            border-color: darken($warning, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($warning, 5%);
            border-color: darken($warning, 5%);
        }
    }
    &.btn-danger {
        color: #ffffff;
        background-color: $danger;
        border-color: $danger;

        &:hover {
            background-color: darken($danger, 5%);
            border-color: darken($danger, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($danger, 5%);
            border-color: darken($danger, 5%);
        }
    }
    &.btn-light {
        color: #676767;
        background-color: $light;
        border-color: $light;

        &:hover {
            background-color: darken($light, 5%);
            border-color: darken($light, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($light, 5%);
            border-color: darken($light, 5%);
        }
    }
    &.btn-dark {
        color: #ffffff;
        background-color: $dark;
        border-color: $dark;

        &:hover {
            background-color: darken($dark, 5%);
            border-color: darken($dark, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($dark, 5%);
            border-color: darken($dark, 5%);
        }
    }
    &.btn-white {
        color: #676767;
        background-color: $white;
        border-color: $white;

        &:hover {
            background-color: darken($white, 5%);
            border-color: darken($white, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($white, 5%);
            border-color: darken($white, 5%);
        }
    }
    &.btn-gray {
        color: #fff;
        background-color: $gray;
        border-color: $gray;

        &:hover {
            background-color: darken($gray, 5%);
            border-color: darken($gray, 5%);
        }
        &.active, 
        &:active{
            background-color: darken($gray, 5%);
            border-color: darken($gray, 5%);
        }
    }
}
button{
    &.focus,
    &:focus{
        outline: none;
    }
}