.jQWCP-wWidget{
    height: 210px;
    min-width: 270px !important;
    background: rgba($primary, 0.7);
    justify-content: center;
    box-shadow: none;
    border-radius: 3px;
    border: none;
    z-index: 9999;

    .jQWCP-slider, 
    .jQWCP-wPreviewBox{
        border: none;
        border-radius: 0px;
    }
}