.custom-number{
	button{
		background-color: #f7f7f7;
		border: 1px solid #d3d7e0;

		&:hover{
			background-color: #E3E3E3;
		}
	}
	.quantity-minus{
		border-right: none;
	}
	.quantity-plus{
		border-left: none;
	}
	input{
		border: 1px solid #d3d7e0;
		border-left: none;
		border-right: none;
		text-align: center;
		padding-right: 10px;
		padding-left: 10px;
		width: 5em;
	}
}