.col-5-inline,.col-7-inline,.col-8-inline,.col-9-inline,.col-10-inline,.col-80-percent,.col-60-percent,.col-40-percent,
.col-sm-5-inline,.col-sm-7-inline,.col-sm-8-inline,.col-sm-9-inline,.col-sm-10-inline,.col-sm-80-percent,.col-sm-60-percent,.col-sm-40-percent,
.col-md-5-inline,.col-md-7-inline,.col-md-8-inline,.col-md-9-inline,.col-md-10-inline,.col-md-80-percent,.col-md-60-percent,.col-md-40-percent,
.col-lg-5-inline,.col-lg-7-inline,.col-lg-8-inline,.col-lg-9-inline,.col-lg-10-inline,.col-lg-80-percent,.col-lg-60-percent,.col-lg-40-percent,
.col-xl-5-inline,.col-xl-7-inline,.col-xl-8-inline,.col-xl-9-inline,.col-xl-10-inline,.col-xl-80-percent,.col-xl-60-percent,.col-xl-40-percent{
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left;
	padding-right: 15px;
	padding-left: 15px;
}
/*Cột 80%*/
.col-80-percent{
    flex: 0 0 80%;
    max-width: 80%;
}
/*Cột 60%*/
.col-60-percent{
    flex: 0 0 60%;
    max-width: 60%;
}
/*Cột 40%*/
.col-40-percent{
    flex: 0 0 40%;
    max-width: 40%;
}
/*5 cột/hàng*/
.col-5-inline{
    flex: 0 0 20%;
    max-width: 20%;
}
/*7 cột/hàng*/
.col-7-inline{
    flex: 0 0 14.2857%;
    max-width: 14.2857%;
}
/*8 cột/hàng*/
.col-8-inline{
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
/*9 cột/hàng*/
.col-9-inline{
    flex: 0 0 11.1111%;
    max-width: 11.1111%;
}
/*10 cột/hàng*/
.col-10-inline{
    flex: 0 0 10%;
    max-width: 10%;
}

/*SM*/
@media (min-width: 576px){
    /*Cột 80%*/
    .col-sm-80-percent{
        flex: 0 0 80%;
        max-width: 80%;
    }
    /*Cột 60%*/
    .col-sm-60-percent{
        flex: 0 0 60%;
        max-width: 60%;
    }
    /*Cột 40%*/
    .col-sm-40-percent{
        flex: 0 0 40%;
        max-width: 40%;
    }
    /*5 cột/hàng*/
    .col-sm-5-inline{
        flex: 0 0 20%;
        max-width: 20%;
    }
    /*7 cột/hàng*/
    .col-sm-7-inline{
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    /*8 cột/hàng*/
    .col-sm-8-inline{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    /*9 cột/hàng*/
    .col-sm-9-inline{
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    /*10 cột/hàng*/
    .col-sm-10-inline{
        flex: 0 0 10%;
        max-width: 10%;
    }
}
/*MD*/
@media (min-width: 768px){
    /*Cột 80%*/
    .col-md-80-percent{
        flex: 0 0 80%;
        max-width: 80%;
    }
    /*Cột 60%*/
    .col-md-60-percent{
        flex: 0 0 60%;
        max-width: 60%;
    }
    /*Cột 40%*/
    .col-md-40-percent{
        flex: 0 0 40%;
        max-width: 40%;
    }
    /*5 cột/hàng*/
    .col-md-5-inline{
        flex: 0 0 20%;
        max-width: 20%;
    }
    /*7 cột/hàng*/
    .col-md-7-inline{
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    /*8 cột/hàng*/
    .col-md-8-inline{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    /*9 cột/hàng*/
    .col-md-9-inline{
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    /*10 cột/hàng*/
    .col-md-10-inline{
        flex: 0 0 10%;
        max-width: 10%;
    }
}
/*LG*/
@media (min-width: 992px){
    /*Cột 80%*/
    .col-lg-80-percent{
        flex: 0 0 80%;
        max-width: 80%;
    }
    /*Cột 60%*/
    .col-lg-60-percent{
        flex: 0 0 60%;
        max-width: 60%;
    }
    /*Cột 40%*/
    .col-lg-40-percent{
        flex: 0 0 40%;
        max-width: 40%;
    }
    /*5 cột/hàng*/
    .col-lg-5-inline{
        flex: 0 0 20%;
        max-width: 20%;
    }
    /*7 cột/hàng*/
    .col-lg-7-inline{
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    /*8 cột/hàng*/
    .col-lg-8-inline{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    /*9 cột/hàng*/
    .col-lg-9-inline{
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    /*10 cột/hàng*/
    .col-lg-10-inline{
        flex: 0 0 10%;
        max-width: 10%;
    }
}
/*XL*/
@media (min-width: 1200px){
    /*Cột 80%*/
    .col-xl-80-percent{
        flex: 0 0 80%;
        max-width: 80%;
    }
    /*Cột 60%*/
    .col-xl-60-percent{
        flex: 0 0 60%;
        max-width: 60%;
    }
    /*Cột 40%*/
    .col-xl-40-percent{
        flex: 0 0 40%;
        max-width: 40%;
    }
    /*5 cột/hàng*/
    .col-xl-5-inline{
        flex: 0 0 20%;
        max-width: 20%;
    }
    /*7 cột/hàng*/
    .col-xl-7-inline{
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    /*8 cột/hàng*/
    .col-xl-8-inline{
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    /*9 cột/hàng*/
    .col-xl-9-inline{
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    /*10 cột/hàng*/
    .col-xl-10-inline{
        flex: 0 0 10%;
        max-width: 10%;
    }
}