.dataTables_wrapper{
	padding-left: 0;
	padding-right: 0;

	thead>tr>th,
	tbody>tr>td{
		border-right: 1px solid #fff;
	}
	.dt-buttons.btn-group{
		float: left;
		width: unset;

		.buttons-print{
			background-color: #FCFCFC;
			border-color: #D8D8D8;
			color: #2D2D2D;
			border-radius: 0;

			&:before{
				font-family: "FontAwesome";
				content: "\f02f";
				margin-right: 5px;
			}
		}
		.buttons-excel{
			background-color: darken(#FCFCFC, 5%);
			border-color: #D8D8D8;
			color: #2D2D2D;

			&:before{
				font-family: "FontAwesome";
				content: "\f1c3";
				margin-right: 5px;
			}
		}
		.buttons-page-length{
			background-color: #FCFCFC;
			border-color: #D8D8D8;
			color: #2D2D2D;
			border-radius: 0;
		}
	}
	.dataTables_info{
		display: none;
	}
	.dataTables_paginate{
		float: right;
		margin-top: 5px !important;
	}
}