.dropdown{
	.dropdown-menu{
		padding: 0;
		border: 1px solid #dedede;
		border-radius: 0;
		overflow: hidden;

		.dropdown-item {
			width: -webkit-fill-available;
			
		    &:focus{
		        color: #fff;
		        background-color: $primary;
		    }
		    &:hover{
		        color: #fff;
		        background-color: $primary;
		    }
		}
		&.dropdown-menu-right{
			left: unset !important;
		}
	}
	.dropdown-toggle{
		&:after{
			content: '\f107';
			font-family: 'FontAwesome';
			border: none;
			vertical-align: top;
			display: inline;
			margin-left: 10px;
		}
	}
	&.hover:hover > .dropdown-menu{
		display: block;
	}
}
.dropdown-menu{
	overflow: hidden;
}