/**
 * Line height
 */
 .lh-default{
     line-height: 1.5;
 }
 .lh-2{
     line-height: 2;
 }

 /**
  * Text
  */
 .c-red{
 	color: #E00000;
 }
 .fz-up-1{
 	font-size: 1.1rem;
 }
 .fz-up-2{
 	font-size: 1.2rem;
 }
 .fz-up-3{
 	font-size: 1.3rem;
 }
 .fz-up-4{
 	font-size: 1.4rem;
 }
 .fz-up-5{
 	font-size: 1.5rem;
 }
 .fz-down-1{
 	font-size: .9rem;
 }
 .fz-down-2{
 	font-size: .8rem;
 }
 .fz-down-3{
 	font-size: .7rem;
 }
 .fz-down-4{
 	font-size: .6rem;
 }
 .fz-down-5{
 	font-size: .5rem;
 }

 /**
  * Flex
  */
 .flex-row{
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 /**
  * Format
  */
 article.content{
 	img, iframe{
 		max-width: 100%;
 	}
 	h1{
 		font-size: 1.8rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 	h2{
 		font-size: 1.6rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 	h3{
 		font-size: 1.4rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 	h4{
 		font-size: 1.3rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 	h5{
 		font-size: 1.15rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 	h6{
 		font-size: 1rem;
 		font-weight: 600;
 		line-height: 1.5;
 	}
 }