.mark{
	padding: 5px;
	line-height: 1.5;
	text-align: center;
	border-radius: 3px;

	&.mark-block{
		display: block;
	}

	/**
	 * Style
	 */
	&.mark-primary{
		background-color: $primary;
		color: darken($primary, 40%);
	}
	&.mark-primary{
		background-color: $secondary;
		color: darken($secondary, 40%);
	}
	&.mark-info{
		background-color: $info;
		color: darken($info, 40%);
	}
	&.mark-success{
		background-color: $success;
		color: darken($success, 40%);
	}
	&.mark-warning{
		background-color: $warning;
		color: darken($warning, 40%);
	}
	&.mark-danger{
		background-color: $danger;
		color: darken($danger, 40%);
	}
	&.mark-dark{
		background-color: $dark;
		color: darken($dark, 40%);
	}
	&.mark-light{
		background-color: $light;
		color: darken($light, 40%);
	}
	&.mark-gray{
		background-color: $gray;
		color: darken($gray, 40%);
	}
	&.mark-white{
		background-color: $white;
		color: darken($white, 40%);
	}
}