.pagination{
	text-align: center;
	display: flex;
	justify-content: center;

	.page-item{
		.page-link{
			display: block;
			border-radius: 3px;
			margin: auto 2.5px;
			padding: 1rem 1.5rem;
			border: 0;
			color: #676767;
			font-weight: 600;
			background-color: transparent;
		}
		&.active,
		&:hover{
			.page-link{
				background-color: $primary;
				border-color: $primary;
				color: #fff;
			}
		}
		&.disabled {
			display: none;
		}
	}
}