.scrollbar::-webkit-scrollbar-thumb
{
	background-image: -webkit-gradient(linear,
		40% 0%,
		75% 84%,
		from(darken($primary, 10%)),
		to(darken($primary, 10%)),
		color-stop(.6,$primary));
	background-image: -moz-gradient(linear,
		40% 0%,
		75% 84%,
		from(darken($primary, 10%)),
		to(darken($primary, 10%)),
		color-stop(.6,$primary))
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}