.table {
	border-collapse: separate;
	border-radius: 2px;
	border-spacing: 0;

	.table-options {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		display: flex;

		>li {
			display: inline-block;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
			> a,
			button {
				color: #9fa8bc;
				font-size: 14px;
				line-height: 0;
				border: none;
				background-color: transparent;
				cursor: pointer;
				padding: 1rem 0;
				display: inline-block;
				@include transition(0.2s);

				> i {
					line-height: 0;
				}
			}
		}
	}
	.custom-checkbox{
		margin-bottom: 0;
		margin-right: 0;
		padding-left: 1rem;
		min-height: 1.2rem; 

		.custom-control-indicator{
			background-color: #fff;
			box-shadow: 0 0 0 1px #fff;
		}
	}

	> thead > tr > th, 
	> tbody > tr > th, 
	> tfoot > tr > th, 
	> thead > tr > td, 
	> tbody > tr > td, 
	> tfoot > tr > td {
		padding: 7px 8px;
		vertical-align: middle;
	}


	/**
	 * Style
	 */
	&.table-primary{
		background-color: lighten($primary, 30%);

		> thead > tr > th, 
		> tfoot > tr > th {
			border-color: rgba(255, 255, 255, 0.3);
			color: #fff;
			background-color: $primary;
		}
	}
	&.table-striped{
		> tbody{
			> tr:nth-of-type(odd) {
				background-color: lighten($primary, 35%);
			}
		}
	}
}