/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
padding:0;
margin:0;
	font-family: 'Lato', sans-serif;
	background:#0d4061;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- main --*/
.content{
    padding: 4em 0;
}
.content h1{
	text-align:center;
	font-size:40px;
	color:#fff;	
}
p.footer {
    text-align: center;
    color: #fff;
    font-size: 17px;
}
p.footer a{
	text-decoration:none;
	color:#b2d3e8;
}
p.footer a:hover{
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.main {
    margin:70px auto;
	width:36%;
}
/*--//main--*/
.login-top {
    padding: 2.3em 2em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    outline: none;
    font-size: 1em;
    color: #999;
    padding: 10px 10px 10px 0px;
    margin: 0;
    width: 89.87%;
    border: none;
    border-bottom: 2px solid #999;
    -webkit-appearance: none;
    margin-bottom: 2em;
	font-family: 'Open Sans', sans-serif;
}
/*--checkbox--*/
.login-top input[type="checkbox"] {
    display: none;
}
.login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #999;
    font-weight: 400;
    cursor: pointer;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 14px;
    height: 14px;
    border: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
	top: -1px;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../img/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
/*--//checkbox--*/
.login-bottom {
    margin-top: 2em;
}
.login-bottom li {
    display: inline-block;
    float: left;
}
.login-bottom li:nth-child(2) {
    float: right;
}
.login-bottom a {
    font-size: 1em;
    color: #999;
    vertical-align: middle;
    line-height: 2.4em;
}
.login-bottom a:hover{
	color:#8e44ad;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.login-bottom input[type="submit"] {
    font-size: 0.9em;
    color: #fff;
	background:#0c517d;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-appearance: none;
}
.login-bottom input[type="submit"]:hover{
	 background: #387296;
	color:#ffffff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
/*-- w3layouts --*/
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    text-align: center;
}
.resp-tab-item {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 50%;
    background: #0c517d;
    float: left;
    padding: 15px 0;
}
.resp-tab-active {
    text-shadow: none;
    color: #fff;
    background: #073652;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.resp-tab-item label{
	margin-right:8px;
}
.social-icons ul li {
    float: left;
    width: 33.33%;
    background-color: #3b5998;
}
.social-icons ul li a {
	display:block;
}
/*-- agileits --*/
.social-icons  ul li a span {
    padding: 0.2em 0.6em;
    vertical-align: middle;
    color: #fff;
	font-size:1em;
}
.social-icons  ul li a span.text {
    padding-left: 1em;
}
.social-icons ul li span.icons {
    background: url(../img/i1.png)no-repeat #2E4A84 center;
    width: 55px;
    height: 45px;
    display: inline-block;
}
.social-icons ul li.twt{
    background-color:#55acee;
}
.social-icons ul li.twt span.icons {
    background: url(../img/i2.png)no-repeat #4D9CD8 center;
}
.social-icons ul li.ggp {
    background-color: #000000;
    padding: 0.85em 0;
	font-size: 1.1em;
    text-align: center;
	color:#fff;
}
.social-icons ul li.pin{
    background-color:#bd081c;
}
.social-icons ul li.pin span.icons {
    background: url(../img/i4.png)no-repeat #AB0518 center;
}
.social-icons ul li a:hover span.icons {
    transform: rotatey(360deg);
	-webkit-transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
    transition: .5s all;
}
.header{
	background:url(../img/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:250px;
	padding:1em;
}
.header-right{
	margin-top: .5em;
}
.fa {
    margin-right: 12px;
}
/*-- agileits --*/
.header h3 {
    font-size: 2.5em;
    color: #f5f5f5;
    margin: 5em 0 0;
}
.header-bottom {
    padding: 2em 2em 3em;
    box-shadow: 0px 0px 5px #999;
    background: #fff;
}
select#country {
    font-size: 1em;
    color: #999;
    border: none;
    outline: none;
	cursor: pointer;
}
.graph {
    text-align: center;
    margin: 2em 0;
}
.graph-bottom-left{
	float:left;
	width:33.33%;
	text-align:center;
}
h6 {
    font-size: 1.2em;
    color: #fff;
    line-height: 1.8em;
}
/*---- responsive-design -----*/
.got {
    background: #418fbf;
    padding: 1em 0;
    text-align: center;
}
/*-- w3layouts --*/
/*---- responsive-design -----*/
@media (max-width: 1680px){
	.content {
		padding: 9em 0;
	}
	.main {
		margin: 100px auto;
	}
	}
@media (max-width: 1600px){
	.content {
		padding: 4em 0;
	}
	.main {
		margin: 60px auto;
	}
	}
@media (max-width: 1440px){
	.content {
		padding: 7em 0;
	}
	.header {
    min-height: 237px;
}
.header h3 {
    margin: 4em 0 0;
}
.login-top {
    padding: 2em 2em;
}
	}
@media(max-width:1366px){
	.content {
		padding: 3em 0;
	}
	.content h1 {
		font-size: 35px;
	}
.social-icons ul li a span {
    padding: 0.22em 0.5em;
}
}
@media(max-width:1280px){
.social-icons ul li a span {
    padding: 0;
}
.content {
		padding: 5em 0;
	}
	.header {
    min-height: 220px;
}
.social-icons ul li.ggp {
    padding: 0.7em 0;
}
}
@media(max-width:1080px){
	.main {
		width: 65%;
	}
}
@media(max-width:991px){
.main-info {
    width: 45%;
}
.login-top {
    padding: 2em 2.5em;
}
}
@media(max-width:900px){
.social-icons ul li span.icons {
    height: 43px;
}
}
@media(max-width:800px){
.main-info {
    width: 53%;
}
.social-icons ul li.ggp {
    padding: 0.63em 0;
}
.login-top {
    padding: 2.15em 1.5em;
}
	.main {
		width: 83%;
	}
	.content {
		padding: 9em 0;
	}
	.content h1 {
		font-size: 33px;
	}
	}
@media (max-width: 736px){
	.content {
		padding: 5em 0;
	}
	}
@media(max-width:667px){
.main-info {
    width: 58%;
}
.profile-left {
    float: left;
    width: 100%;
}
.profile-middle {
    float: left;
    width: 100%;
	margin:0;
    margin-top: 1em;
}
p.footer {
    line-height: 1.8em;
}
}
@media(max-width:480px){
.main {
    padding: 2em 0 0;
}
h1 {
    font-size: 2.5em;
}
.main-info {
    width: 74%;
    margin: 2em auto;
}
.resp-tab-item {
    font-size: 1.3em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    font-size: 0.9em;
}
.login-top input[type="checkbox"]+label {
    font-size: 0.9em;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 12px;
    height: 12px;
    top: 2px;
}
.login-bottom a {
    font-size: 0.9em;
}
.login-bottom input[type="submit"] {
    font-size: 0.8em;
}
.social-icons ul li a span.text {
    font-size: 0.9em;
}
.social-icons ul li span.icons,.social-icons ul li.twt span.icons,.social-icons ul li.ggp span.icons,.social-icons ul li.pin span.icons {
    background-size: 30%;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    left: 1px;
    top: 1px;
}
.copyright p {
    font-size: 0.9em;
}
.login-top input[type="text"], .login-top input[type="password"] {
    width: 83%;
	margin-bottom: 1.5em;
}
.main {
		margin: 45px auto;
	}
	.content {
		padding: 4em 0;
	}
	.main {
		width: 86%;
	}
	.got {
    padding: 1em 1em;
}
}
@media(max-width:414px){

.main {
		width: 75%;
	}
.resp-tab-item {
    font-size: 1.2em;
    padding: 12px 0;
}
.main-info {
    width: 79%;
}
.login-top {
    padding: 2em 1.5em;
}
.copyright {
    margin: 2em 1em 1em;
}
.header {
    min-height: 161px;
}
.header h3 {
    margin: 3em 0 0;
    font-size: 2em;
}
.social-icons ul li {
    width: 100%;
}
h6 {
    font-size: 0.875em;
    color: #fff;
    line-height: 1.3em;
}
}
@media (max-width: 384px){
	.content h1 {
		font-size: 25px;
	}
	canvas#bar {
    width: 220px! important;
}
	}
@media (max-width: 375px){
	.main {
		width: 82%;
	}
	}
@media(max-width:320px){
h1 {
    font-size: 1.8em;
}
.resp-tab-item {
    font-size: 1em;
    padding: 10px 0;
}
.main-info {
    width: 85%;
}
.login-top input[type="text"], .login-top input[type="password"] {
    font-size: 0.85em;
}
.login-top input[type="checkbox"]+label {
    font-size: 0.85em;
}
.login-bottom a {
    font-size: 0.85em;
}
.social-icons ul li {
    float: none;
    width: 100%;
}
.social-icons ul li a span.text {
    font-size: 0.85em;
}
.login-bottom input[type="submit"] {
    font-size: 0.75em;
    padding: 6px 17px;
}
canvas#bar {
    width: 200px! important;
}
.content {
    padding: 2em 0;
}
.main {
    margin: 10px auto;
}
p.footer {
    font-size: 14px;
    margin-top: 2em;
}
.got {
    padding: 0.5em 1em;
}
}
/*--//responsive-design---*/