/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
.item{
    padding-bottom: 25px;
}
.primary, .button{
    display: flex;
    justify-content: space-between;
}
/*--//responsive-design---*/